<!DOCTYPE HTML>
<html>
<head>
	{include file='head.tpl'}
</head>
<body>
	<div id="page-content">
		{include file='header.tpl'}		
		
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>{$content.name}</h1>


					
						<!-- -->
						<div class="planes-precios col-xs-12 col-md-4">
							<a href="/create.account.php?jumpTo=members">
							<div>
								<h2>ENANO</h2>
								<span class="detalles">PIKSEL HUB PARA USTED O SU EMPRENDIMIENTO</span>
								<span class="precio">79.900</span>
							</div>
							</a>
						</div>

						<div class="planes-precios col-xs-12 col-md-4">
							<a href="/create.account.php?jumpTo=members">
							<div>
								<h2>CHIQUI</h2>
								<span class="detalles">PIKSEL HUB PARA USTED O SU EMPRENDIMIENTO</span>
								<span class="precio">125.900</span>
							</div>
							</a>
						</div>

						<div class="planes-precios col-xs-12 col-md-4">
							<a href="/create.account.php?jumpTo=members">
							<div>
								<h2>AGUANTA</h2>
								<span class="detalles">PIKSEL HUB PARA USTED O SU EMPRENDIMIENTO</span>
								<span class="precio">169.900</span>
							</div>
							</a>
						</div>

						<div class="planes-precios col-xs-12 col-md-4">
							<a href="/create.account.php?jumpTo=members">
							<div>
								<h2>MICRO BUS</h2>
								<span class="detalles">PIKSEL HUB PARA SU AGENCIA O EMPRESA</span>
								<span class="precio">219.900</span>
							</div>
							</a>
						</div>

						<div class="planes-precios col-xs-12 col-md-4">
							<a href="/create.account.php?jumpTo=members">
							<div>
								<h2>BUSETA</h2>
								<span class="detalles">PIKSEL HUB PARA SU AGENCIA O EMPRESA</span>
								<span class="precio">299.900</span>
							</div>
							</a>
						</div>

						<div class="planes-precios col-xs-12 col-md-4">
							<a href="/create.account.php?jumpTo=members">
							<div>
								<h2>BUS</h2>
								<span class="detalles">PIKSEL HUB PARA SU AGENCIA O EMPRESA</span>
								<span class="precio">369.900</span>
							</div>
							</a>
						</div>

						<div class="planes-precios col-xs-12 col-md-4">
							<a href="/create.account.php?jumpTo=members">
							<div>
								<h2>TRANSMI</h2>
								<span class="detalles">PIKSEL HUB PARA SU AGENCIA O EMPRESA</span>
								<span class="precio">549.900</span>
							</div>
							</a>
						</div>
						<!-- -->

						<div class="contenido">{$content.content}</div>
				</div>
			</div>
		</div>
		{include file='footer.tpl'}
    </div>
</body>
</html>