/*	Default stylesheet for the Carpe Slider
	By Tom Hermansson Snickars                 
	2005-12-17 version 1.5
	Copyright CARPE Design                     
	carpe.ambiprospect.com
*/
*.carpe_horizontal_slider_display_combo {
	clear: left;
	margin: 0;
}
*.carpe_vertical_slider_display_combo {
	float: left;
	margin: 0;
}
*.carpe_horizontal_slider_track {	
	color: #333;
	width: 160px;
	float: left;
	margin: 0;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	padding: 4px 4px 4px 0px;
	/* ktools edit
	background-color: #bbb;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
	*/
}
*.carpe_vertical_slider_track {
	background-color: #bbb;
	color: #333;
	padding: 3px 6px 15px 6px;
	width: 24px;
	height: 100px;
	border: 1px solid;
	border-color: #ddd #999 #999 #ddd;
}
*.carpe_horizontal_slider_track *.carpe_slider_slit {
	background-color: #bbbbbb;
	color: #ccc;
	width: 150px;
	height: 1px;
	margin: 6px 4px 2px 4px;
	line-height: 0px;
	position: absolute;
	z-index: 1;
	border: 1px solid;
	border-color: #909090 #ddd #ddd #909090;
}
*.carpe_vertical_slider_track *.carpe_slider_slit {
	background-color: #000;
	color: #333;
	width: 2px;
	height: 100px;
	position: absolute;
	margin: 4px 10px 4px 10px;
	padding: 4px 0 1px 0;
	line-height: 0px;
	font-size: 0;
	border: 1px solid;
	border-color: #afafaf #eee #eee #afafaf;
}
*.carpe_horizontal_slider_track *.carpe_slider {
	width: 17px;
	cursor: pointer;	
	color: #333;
	position: relative;
	margin: 0;
	height: 15px;
	z-index: 1;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	/*
	background-color: #666;
	border: 2px solid;
	border-color: #999 #333 #333 #999;
	*/
	background-image:url(images/mgr.slider.ball.png);
	background-repeat: no-repeat;
}
*.carpe_vertical_slider_track *.carpe_slider {
	width: 20px;
	background-color: #666;
	color: #333;
	position: relative;
	margin: 0;
	height: 8px;
	z-index: 1;
	line-height: 0px;
	font-size: 0px;
	text-align: left;
	border: 2px solid;
	border-color: #999 #333 #333 #999;
}
*.carpe_slider_display_holder {
	color: #333;
	width: 34px;
	margin: 0;
	float: left;
	padding: 0 2px 0 0;
	height: 20px;
	text-align: right;
	/* ktools edit
	border: 1px solid;
	background-color: #bbb;
	border-color: #ddd #999 #999 #ddd;
	*/
}
.carpe_slider_display_holder  .carpe_slider_display,.carpe_slider_display_holder  .carpe_slider_display2{
	color: #333;
	padding: 3px 1px 0 0;
	width: 30px;
	text-align: right;
	font-size: 11px;
	line-height: 10px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	border: 0;
	cursor: default;
	background-color: #fff;
	border: none;
	margin-top: 3px;
}
.carpe_slider_display2{
	background-color: #f5f7f9;
}