<!DOCTYPE HTML>
<html>
<head>
	{include file='head.tpl'}
	<link rel="stylesheet" type="text/css" href="{$baseURL}/assets/themes/{$theme}/invoice.css">
</head>
<body>
	<div id="invoiceTemplate">
		{$content.body}
    </div>
</body>
</html>