@charset "utf-8";

/* RTL
html{
	direction: rtl;
  	unicode-bidi: embed;
}
*/


/* BODY AND CONTAINER */
	body {
		background-color: #FFF;
		color: #333;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		background-repeat: no-repeat;
		background-position: top center;
		font-size: 13px;
	}
	
	a{
		color: #47abe5;
		text-decoration: none;
	}
	
	a:hover{
		color: #47abe5;
		text-decoration: underline;
	}
	
	input[type="text"], input[type="password"], select{
		border: 1px solid #CCC;	
		background-color: #EEE;
		/*
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		*/
	}
	
	select{
		padding: 4px;
		color: #333;
		background-color: #EEE;
		border: 1px solid #CCC;
		font-size: 12px;	
	}
	
	#container{
		position: relative;
		width: 1000px;
		margin: auto;
		margin-top: 20px;
	}
	
	hr{
		border: none;
		border-bottom: 1px solid #666;
		margin: 0;
	}
	
	a.buttonLink{
		background-color: #999999;
		padding: 2px 6px 2px 6px;
		color: #EEE;
		background-image: url(./images/grey.button.bg.png);
		background-repeat: repeat-x;
		margin: 0;
		font-size: 10px;
		font-weight: normal;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
	}
	
	a.buttonLink:hover{
		background-color: #666666;
		color: #FFF;
	}
	
	a.colorButtonLink{
		margin: 0;
		font-size: 10px;
		font-weight: normal;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
		background-image: url(./images/color.button.blue.png);
		background-repeat: repeat-x;
		color: #FFF;
		background-color: rgb(16,85,130);
		border-top: none;
		border-left: none;
		border-right: 1px solid rgb(7,75,119);
		border-bottom: 1px solid rgb(7,75,119);
		font-weight: bold;
		padding: 3px 6px 3px 6px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
	}
	
	a.colorButtonLink:hover{
		background-image: url(./images/color.button.bg.blue.1.png);
		background-repeat: repeat-x;
		background-color: rgb(35,151,207);
		font-weight: bold;
	}
	/*:link, a.buttonLink:visited, a.buttonLink:hover*/
	
	.vTable{
		clear: both;
		width: 100%;
	}
	
	.vTable tr{
		border-bottom: 1px solid #000;
	}
	
	.vTable th{
		width: 100px;
	}
	
	.genericImgBorder{
		border: 1px solid #FFF;	
	}
	
	.strike{
		text-decoration: line-through;
	}

/* TREE */
	.treeLock{
		display: inline;
		background: url(./images/lock.png) no-repeat 0 2px;
		margin-left: 4px;
	}
	
/* LOADERS */
	.loader1{
		background-image: url(./images/loader1.gif);
		background-position: 10px 10px;
		background-repeat: no-repeat;
		min-width: 30px;
		min-height: 30px;
	}
	
	.loader2{
		background-image: url(./images/loader2.gif);
		background-position: 10px 10px;
		background-repeat: no-repeat;
		min-width: 30px;
		min-height: 30px;
	}
	
	.loader3{
		background-image: url(./images/loader3.gif);
		background-position: 10px 10px;
		background-repeat: no-repeat;
		min-width: 30px;
		min-height: 30px;
	}
	
	.loader1Center{
		background-image: url(./images/loader1.gif);
		background-repeat: no-repeat;
		background-position: center;
	}

/* CART */
	.cartAddNotes{
		position: absolute;
		right: 6px;
		top: 6px;
	}
	
	.cartAddNotes img{
		width: 10px;
		opacity: 0.5;
		cursor: pointer;
	}
	
	.cartAddNotes img:hover{
		opacity: 1;
	}
	
	.cartItemAddedMessage{
		background-color: #EEE;
		padding: 20px;
		color: #666;
		margin-bottom: 20px;
	}
	
	.totalsShownFooter{
		color: #999;
		margin-top: 10px;
	}
	
	.cartContainer{
		width: 100%;	
	}
	
	
	#couponCode{
		width: 122px;
	}
 
	
	.cartContainer h1{	
		clear: both;
	}
	
	.cartPromotions{
		margin-bottom: 20px;
	}
	
	.cartPromotions .featuredPageItem .description{
		margin-bottom: 0;
	}
	
	.cartPriceContainer{
		line-height: 1.3;
		position: relative;
		cursor: pointer;
		text-align: center;
	}
	
	.cartPriceContainer ul{
		display: none;
		position: absolute;
		background-color: #EEE;
		padding: 4px;
		margin: 17px auto;
		-moz-box-shadow: 0 0 4px #999; 
		-webkit-box-shadow: 0 0 4px #999;     
		box-shadow: 0 0 4px #999;
		border: 1px solid #FFF;
		font-size: 11px;
		min-width: 80px;
		left: -3px;
	}
	
	.cartPriceContainer:hover ul{
		display: block;	
	}
		
	.cartContainer .cartTotalColumn{
		min-width: 330px;
		width: 330px;
		vertical-align: top;
		border-left: 1px solid #CCC;
	}
	
	.cartContainer .cartTotalColumn input[type="button"]{
		width: 100px;
	}
	
	.cartItemsList h2{
		font-size: 11px;
		color: #333;
	}
	
	.cartItemsList .header{
		font-weight: bold;
		background-color: #EEE;
	}
	
	.cartItemContainer{
		margin-right: 10px;		
		width: 100%;
		background-color: #EEE;
		margin-bottom: 4px;
		position: relative;
		/*
		-moz-box-shadow: 0 0 8px #000; 
		-webkit-box-shadow: 0 0 8px #000;     
		box-shadow: 0 0 8px #000;
		*/
		clear: both;
	}
	
	.cartItemContainer:hover{
		/*
		-moz-box-shadow: 0 0 8px #000; 
		-webkit-box-shadow: 0 0 8px #000;     
		box-shadow: 0 0 8px #000;
		*/
	}
	
	.cartPriceEach{
		font-size: 11px;
		color: #999
	}
	
	.cartItemsList{
	}
	
	.cartItemsList .thumb{
		/*border: 1px solid #EEE;*/
		-moz-box-shadow: 0 0 8px #666; 
		-webkit-box-shadow: 0 0 8px #666;     
		box-shadow: 0 0 8px #666;
	}
	
	.cartItemsList .quantity{
		text-align: center;
		width: 30px;
		font-size: 11px;
	}
	
	.cartItemDetailsContainer .optionsBox, .cartItemDetailsContainerInline .optionsBox{
		padding: 0 10px 10px 0;
		margin-top: 6px;
		color: #999;
		font-size: 12px;
		text-align: left;
		min-height: 40px;
		max-height: 400px;
		overflow: auto;
	}
		
	.optionsBox .divTable{
		margin-left: 15px;
		margin-bottom: 10px;
	}
	
	.optionsBox .divTableCell{
		padding: 0 0 8px 0 !important;
	}
	
	.cartItemsList .mtagDarkGrey{
		background-color: #b2b2b2;	
	}
	
	.optionsBox ul.packageOptions{
		margin-left: 55px;
		list-style: square;
	}
	
	.optionsBox ul{
		clear: both;
		color: #222;
		margin-left: 10px;
	}
	
	.optionsBox ul li span{
		color: #909090;
	}
	
	.optionsBox .divTable .divTableRow .divTableCell:first-child{
		text-align: center;
		vertical-align: top;
	}
	
	.optionsBox .divTable .divTableRow .divTableCell:first-child img{
		margin: 0 12px 0 6px;
		-moz-box-shadow: 0 0 8px #333; 
		-webkit-box-shadow: 0 0 8px #333;     
		box-shadow: 0 0 8px #333;
		width: 40px;
	}
	
	.optionsBox h2{
		margin-bottom: 14px;
		margin-top: 10px;
		font-size: 12px;
		font-weight: bold;
		color: #333;
		text-align: left;
		padding: 2px 2px 2px 10px;
		background-color: #EEE;
	}
	
	.optionsBox .divTableCell{
		vertical-align: middle;
		color: #333;
	}
	
	.optionsBox .mtag{
		float: left;
		margin-right: 4px;
	}
	
	.optionsBoxLoader{
		background-image: url('./images/loader4.gif');
		background-repeat: no-repeat;
		background-position: 10px 10px;	
	}
	
	.packageFilledContainer{
		font-size: 11px;
		color: #999;
	}
	
	.packageFilledBar{
		float: left;
		border: 1px solid #666;
		width: 50px;
		margin-top: 3px;
		margin-right: 3px;
	}
	
	.packageFilledBar p{
		background-color: #0fa692;
		background-image: url(./images/progress.bar.png);
		height: 8px;
	}
	
	.cartItemsList .editInput{
		border: 1px dashed #999;
		font-size: 12px;
		width: 100%;
	}
	
	.cartItemsList .divTableCell{
		padding: 10px;
	}
	
	.cartItemDetailsContainer .cartItemDetailsButton, .cartItemDetailsContainerInline .cartItemDetailsButton{
		padding: 0 4px 0 4px;
		line-height: 1;
		font-size: 11px;
		margin-top: 1px;	
	}
	
	.cartItemsList .divTableRow .thumbRow{
		text-align: center;
		min-width: 80px;
		width: 80px;
	}
	
	.cartItemsList .divTableRow .itemRow{
		width: 100%;
		padding-left: 0px;
		/*white-space: nowrap; removed in 4.0.5 */
	}
	
	.cartItemsList .divTableRow .discountsRow{
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		min-width: 85px;
		border-left: 2px solid #FFF;
	}
	
	.cartItemsList .divTableRow .quantityRow{
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		padding-left: 10px;
		padding-right: 10px;		
		min-width: 40px;
		border-left: 2px solid #FFF;
	}
	
	.cartItemsList .divTableRow .priceRow .price{
		color: #ff760e;	
		font-size: 12px !important;
	}
	
	.cartItemsList .divTableRow .priceRow{
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		min-width: 85px;
		border-left: 2px solid #FFF;
	}
	
	.cartItemsList .divTableRow .actionsRow{
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		min-width: 80px;
		width: 80px;
		border-left: 2px solid #FFF;
	}
	
	.cartItemsList .divTableRow .statusRow{
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		min-width: 80px;
		width: 80px;
		border-left: 2px solid #FFF;
	}
	
	.actionsRow .buttonLink{
		width: 70px;
		margin-bottom: 2px;
	}
		
	.cartItemSavings{
		color: #FF9933;
		font-size: 11px;
		font-weight: bold;
	}
	
	.cartTotalList{
		padding: 10px 5px 10px 10px;
		margin-bottom: 5px;
		overflow: auto;
		font-size: 11px;
	}
	
	.yourCredits{
		border-bottom: 1px solid #CCC;
	}
	
	.yourCredits div{
		float: left;
		display: block;
	}
	
	.cartLoginRequest{
		margin-top: 3px;
		padding: 15px;
		background-color: #EEE;
		margin-bottom: 15px;
		color: #999;
		text-align: center
	}
	
	input[type="button"].colorButton2{
		background-image: url(./images/color.button.blue.png);
		background-repeat: repeat-x;
		color: #FFF;
		background-color: rgb(16,85,130);
		border-top: none;
		border-left: none;
		border-right: 1px solid rgb(7,75,119);
		border-bottom: 1px solid rgb(7,75,119);
		font-weight: bold;
		padding-bottom: 3px;
		padding-top: 3px;
	}
	
	input[type="button"].colorButton2:disabled{
		background-image: none;
		background-repeat: repeat-x;
		color: #333;
		background-color: #999;
		border-top: none;
		border-left: none;
		border-right: 1px solid rgb(7,75,119);
		border-bottom: 1px solid rgb(7,75,119);
		font-weight: bold;
		padding-bottom: 3px;
		padding-top: 3px;
		opacity:0.3;
		filter:alpha(opacity=30);
	}
	
	input[type="button"].colorButton2:hover{
		background-image: url(./images/color.button.bg.blue.1.png);
		background-repeat: repeat-x;
		background-color: rgb(16,85,130);
		font-weight: bold;
	}
	
	input[type="button"].colorButton, input[type="submit"].colorButton{
		background-image: url(./images/color.button.blue.png);
		background-repeat: repeat-x;
		color: #FFF;
		background-color: rgb(16,85,130);;
		border-top: none;
		border-left: none;
		border-right: 1px solid rgb(7,75,119);
		border-bottom: 1px solid rgb(7,75,119);
		font-weight: bold;
		padding-bottom: 3px;
		padding-top: 3px;
	}
	
	input[type="button"].colorButton:disabled,input[type="submit"].colorButton:disabled{
		background-image: none;
		background-repeat: repeat-x;
		color: #333;
		background-color: #999;
		border-top: none;
		border-left: none;
		border-right: 1px solid #000;
		border-bottom: 1px solid #000;
		font-weight: bold;
		padding-bottom: 3px;
		padding-top: 3px;
		opacity:0.3;
		filter:alpha(opacity=30);
	}
	
	input[type="button"].colorButton:hover,input[type="RGB(0x10,0x55,0x82)"].colorButton:hover{
		background-image: url(./images/color.button.bg.blue.1.png);
		background-repeat: repeat-x;
		background-color: rgb(16,85,130);
		font-weight: bold;
		border-top: none;
		border-left: none;
		border-right: 1px solid rgb(7,75,119);
		border-bottom: 1px solid rgb(7,75,119);
		color: #FFF;
		
	}
	
	.yourCredits div:first-child{
		text-align: right;
		line-height: 1.2;
		font-size: 12px;
		margin-right: 6px;
		vertical-align: top;
	}
	
	.yourCredits div:last-child{
		padding-top: 6px;
	}
	
	.myCredits{
		font-weight: bold;
		font-size: 34px;
		color: #ff760e;
		line-height: .8;
	}
	
	.cartTotalList .divTable{
		width: 100%;
		margin-bottom: 15px;
	}
	
	.cartTotalListWarning{
		background-color: #b2210d;
		padding: 4px;
		color: #FFF;
		line-height: 1.4;
		font-size: 11px;
		margin-bottom: 10px;
	}
	
	.cartTotalListWarning img{
		float: left;
		margin: 5px 2px 6px 3px;
	}
	
	.cartTotalList .divTable .divTableCell{
		padding: 2px 0 2px 0;
		color: #999;
	}
	
	.cartTotalList .divTable .divTableCell:last-child{
		text-align: right;
	}
	
	.cartTotalList .divTable .divTableRow{
		
	}
	
	.cartTotalList .divTable .divTableCell span{
		font-weight: bold;
	}
	
	.cartTotalDiscounts{
		color: #FF9933;
	}
	
	input.updateQuantitiesButton[type="button"]{
		width: 100px;
	}
	
	.promotionsBox{
		border-bottom: 1px solid #CCC;		
	}
	
	.promotionsBox ul{
		margin: 15px 0 0 0;
		clear: both;
	}
	
	.promotionsBox ul li{
		padding: 0px 0 1px 10px;
		margin-bottom: 2px;
		font-size: 10px;
		text-align: right;
		color: #666;
	}
	
	.promotionsBox ul li input[type="button"]{
		margin-left: 4px;
	}
	
	.promotionsBox p{
		font-size: 10px;
		color: #333;
	}
	
	.promotionsBox p input[type="text"]{
		background-color: #FFF;
		color: #333;
		font-size: 11px;
		padding: 2px 4px 2px 4px;
	}
	
	.paymentGatewaysBox{
		border-top: 1px solid #CCC;
		/*border-bottom: 1px solid rgb(70,70,70);*/
	}
	
	.paymentGatewaysBox ul li{
		padding: 10px 6px 10px 30px;
		margin-bottom: 8px;
		/*border: 1px solid #333;*/
		overflow: auto;
		cursor: pointer;
	}
	
	.paymentGatewaysBox h2, .cartTotalColumn h2{
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: bold;
		color: #666;
	}
	
	.paymentGatewaySelected{
		background-color: #EEE;
	}
	
	.paymentGatewaysBox ul li img{
		float: right;
		margin-right: 8px;
		padding: 5px;
		background-color: #FFF;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
	}
	
	.paymentGatewaysBox ul li label{
		font-size: 14px;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	
	.paymentGatewaysBox ul li input[type="radio"]{
		margin-left: -20px;	
		float: left;
		margin-top: 3px;
	}
	
	.paymentGatewaysBox p{
		color: #999;
	}
	
	#shippingMethods li{
		cursor: pointer;	
	}
	
	.processOrderNotice{
		margin-left: auto;
		margin-right: auto;
		margin-top: 20%;
		width: 400px;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		background-color: #EEE;
		padding: 40px;	
		color: #333;
	}
	
	.processOrderNotice p{
		vertical-align: middle;
		background-image: url(./images/loader2.gif);
		background-repeat: no-repeat;
		min-width: 16px;
		min-height: 16px;
		float: left;
		
	}
	
	.cartReviewAddresses{
		width: 50%;
		float: left;
	}
	
	.cartReviewAddresses div{
		background-color: #EEE;
		height: 140px;
		padding: 20px
	}
	
	.cartReviewAddresses div h1{
		border-bottom: none;
		font-size: 14px;
		margin-bottom: 10px;
	}
	
	.cartReviewAddresses div p{
		color: #999;
	}
	
	.shippingMethodBox{
		/*border-bottom: 1px solid rgb(70,70,70);	*/
	}
	
	.shippingMethodBox ul{
			
	}
	
	.shippingMethodBox ul li{
		margin: 0;
		padding: 14px 14px 4px 14px;
		font-size: 12px;
		overflow: auto;
	}
	
	.shippingMethodBox ul li label{
		font-size: 14px;
		font-weight: bold;
	}
	
	.shippingMethodBox ul li p{
		color: #999;
		padding-left: 20px;
	}
	
	.cartStepsBar{
		overflow: auto;
	}
	
	.cartStepsBar25 li{
		width: 25%;
	}
	
	.cartStepsBar33 li{
		width: 33.3%;
	}
	
	.cartStepsBar li.off{
		float: left; 
		background-color: #EEE;
		color: #ababab
	}
	
	.cartStepsBar li.on{
		float: left; 
		background-color: #EEE;
		color: #333
	}
	
	.cartStepsBar li div{
		text-align: center;
		padding: 10px; 
		font-weight: bold; 
		font-size: 14px;
		border-left: 2px solid #FFF;
	}
	
	.cartStepsBar li.cart, .cartStepsBar li.shipping{
		cursor: pointer
	}
	
	.cartStepsBar li p{
		position: absolute;
		padding: 5px 10px 5px 10px;
		font-weight: bold;
		margin-top: 6px;
		margin-left: 8px;
	}
	
	.cartStepsBar li.on p{
		background-color: #EEE;
	}
	
	.cartStepsBar li.off p{
		background-color: #dadada;
	}
	
	
	.cartItemDetailsContainer{
		background-color: #d8d8d8;
		padding: 4px 6px 4px 8px;
		/*
		border-top: 1px solid #555;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		margin-right: 36px;
		display: none;
		*/
		color: #666;
		font-size: 11px;
		text-align: left;
	}
	
	.cartItemDetailsContainerInline{
		background-color: #EEE;
		padding: 4px 6px 4px 0;
		/*
		border-top: 1px solid #555;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		margin-right: 36px;
		display: none;
		*/
		color: #999;
		font-size: 11px;
		text-align: left;
	}
	
	.cartItemDescription{
		font-size: 11px; 
		color: #222;
	}

/* WORKBOX */
	.noItemCartWarning{
		font-weight: normal;
		color: #666;
		white-space: nowrap
	}
	
	.noItemCartWarning img{
		vertical-align: middle;
		margin-right: 2px;
		margin-top: -2px;
	}
	
	.mtag{
		color: #FFF;
		font-size: 11px;
		font-weight: bold;
		padding: 2px 4px 2px 4px;
		-moz-border-radius: 4px;
 		-webkit-border-radius: 4px;
		border-radius: 4px;
		width: 18px;
		text-align: center;
	}
	
	.mtagLightGrey{
		background-color: #b7b7b7;
	}
	
	.mtagDarkGrey{
		background-color: #b2b2b2;
	}
	
	.noticeBox{
		margin: 20px 20px 0 20px;
	}
	
	.messageBar{
		font-weight: bold;	
		color: #FFF;
		font-size: 12px;
		padding: 6px 6px 4px 14px;
		background-color: #b2210d;
		margin-bottom: 1px;
	}
	
	.messageBar img{
		vertical-align: middle;
		margin: -2px 4px 0 0;
	}
	
	.messageBar .buttonLink{
		background-color: #971705;
		float: right;
		color: #FFF;
		border: 1px solid #821607;
		margin-top: 2px;
	}
	
	.noticeBox img{
		vertical-align: middle;
	}
	
	#overlay{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 998;
		background-image: url(./images/overlay.png);
		background-repeat: repeat;
		display: none;
	}
	
	#workbox{
		border: 6px solid #CCC;
		z-index: 999;
		background-color: rgba(255,255,255,1);
		display: none;
		-moz-box-shadow: 0 0 16px #666; 
		-webkit-box-shadow: 0 0 16px #666;     
		box-shadow: 0 0 16px #666;
		/* For IE 8 */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666')";   
		/* For IE 5.5 - 7 */     
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666'); 
	}
	
	.largeWorkbox{
		position: absolute;
		width: 900px;
		min-height: 400px;
		position: absolute;
		left: 50%;
		margin: 0 0 0 -450px;
		/*top: 600px;*/
	}
	
	.miniWorkbox{
		position: fixed;
		width: 500px;
		min-height: 150px;
		position: fixed;
		left: 50%;
		top: 25%;
		margin: 30px 0 0 -250px;
	}
	
	#closeWorkbox, .closeButton, #closeMiniCart{
		position: absolute;
		right: 10px;
		top: 10px;
		width: 14px;
		height: 14px;
		border: none;
		cursor: pointer;
		opacity:0.7;
		filter:alpha(opacity=70);
	}
	
	#closeWorkbox:hover, .closeButton:hover, #closeMiniCart:hover{
		position: absolute;
		right: 10px;
		top: 10px;
		width: 14px;
		height: 14px;
		border: none;
		cursor: pointer;
		opacity:1;
		filter:alpha(opacity=100);
	}
	
	#workbox .workboxItemTable{
		width: 100%;
		margin-bottom: 58px;
	}
	
	#workbox #workboxLoader{
		margin: 20px;
	}
	
	#workbox h1{
		font-size: 16px;
		font-weight: bold;
		color: #333;
		margin-bottom: 6px;
	}
	
	#workbox .workboxLeftColumn{
		float: left;
		padding: 20px 0 20px 30px;
		/*
		min-width: 20px;
		max-width: 310px;
		*/
		text-align: center;
		vertical-align: top;
	}
	
	#workbox .workboxLeftColumn #additionalShots{
		margin-top: 5px;
		margin-left: 3px;
		margin-bottom: 8px;
		text-align: left;
	}
	
	.workboxItemDiscounts{
		min-width: 230px;
		margin: 10px 3px 3px 3px;
		padding-bottom: 10px;
		background-color: #EEE;
		font-weight: normal
	}
	
	.workboxItemDiscounts li{
		text-align: left;
		padding: 10px 10px 0 10px;
		font-size: 13px;
	}
	
	.workboxItemDiscounts li img{
		vertical-align: middle;
		width: 15px;
		margin-right: 6px;
		margin-top: -2px;
	}
	
	.workboxItemDiscounts li span{
		font-weight: bold;
		color: #fff;
		color: #FFF;
	}
	
	.workboxItemDiscounts li span:last-child{
		color: #f5b104;
	}
	
	.workboxItemDiscounts li:first-child{
		background-color: #999;
		padding: 6px 10px 6px 10px;
		font-size: 13px;
		font-weight: bold;
		color: #333;
		line-height: 1.5
	}
	
	#additionalShots img{
		/*border: 1px solid #CCC;*/
		-moz-box-shadow: 0 0 4px #000; 
		-webkit-box-shadow: 0 0 4px #000;     
		box-shadow: 0 0 4px #000;
		margin-top: 6px;
		margin-right: 2px;
		margin-left: 0;
		opacity:0.3;
		filter:alpha(opacity=60);
	}
	
	#mainShotContainer{
		background-image: url(./images/loader2.gif);
		background-position: center;
		background-repeat: no-repeat;
		min-height: 231px;
		min-width: 308px;
		line-height: 0;
	}
	
	h3.productShotsHeader{
		clear: both;
		text-align: left;
		margin-top: 10px;
		margin-left: 3px;
		color: #888;
		font-size: 12px;
		font-weight: bold;
	}
	
	.workboxLoader{
		background-image: url(./images/loader3.gif);
		background-position: 20px 20px;
		background-repeat: no-repeat;
	}
	
	.workboxRightColumn .formFieldLabel{
		width: 100px;
	}
	
	.workboxRightColumn .cleanForm .price{
		font-weight: normal;
	}
	
	#workbox .cleanForm{
		padding: 0;
		margin: 0;
	}
		
	.workboxRightColumn .optionsTable .divTableCell{
		padding-bottom: 10px;
	}
	
	.optionsScroller{
		/*max-height: 400px;*/
		overflow: auto;
		padding-right: 10px;
		/*margin-right: 10px;*/
	}
	
	.workboxRightColumn .itemTotal{
		float: right;
		margin-top: 20px;
	}
	
	.workboxActionButtons .price{
		font-size: 16px;
		font-weight: bold;
		text-align: right;
	}
	
	.workboxRightColumn h2{
		border-bottom: 1px solid #CCC;
		font-size: 14px;
		color: #333;
		padding-bottom: 6px;
		margin-bottom: 16px;
		margin-top: 30px;
	}
	
	.workboxRightColumn hr{
		margin-top: 20px;
	}
	
	#workbox .notice{
		margin: 30px;	
	}
	
	#mainShotContainer img{
		/*border: 3px solid #FFF;*/
		-moz-box-shadow: 0 0 4px #000; 
		-webkit-box-shadow: 0 0 4px #000;     
		box-shadow: 0 0 4px #000;
	}
	
	#workbox .workboxRightColumn{
		width: 100%;
		vertical-align: top;
		padding: 20px 10px 30px 20px;
	}
	
	#workbox .workboxActionButtons{
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 0 10px 20px 15px;
		text-align: right;
		line-height: 1.2;
	}
	
	#workbox .workboxActionButtons input{
		margin-top: 10px;
	}
	
	#workboxItemForm select{
		min-width: 200px;
		padding: 4px;
		color: #333;
		background-color: #EEE;
		border: 1px solid #DDD;
		font-size: 12px;
	}
	
	.workboxRightColumn .packageItemsList{
		margin-left: 10px;	
	}
	
	.workboxRightColumn .packageItemsList a{
		font-weight: normal;
	}
	
	.workboxRightColumn .packageItemsList span.dim{
		color: #999;
	}
	
	.workboxRightColumn .packageItemsList li{
		margin-bottom: 5px;
		padding: 5px;
	}
	
	.workboxRightColumn .packageItemsList li:hover{
		background-color: #EEE;
	}
	
	
	
	.workboxRightColumn .packageItemsList li .divTableCell{
		vertical-align: middle;
	}
	
	/*
	.workboxRightColumn .packageItemsList li .divTableCell .packageQuantity{
		width: 20px;
		color: #999;
		font-size: 11px;
		text-align: center;
	}
	*/
	
	#requestDownloadEmail{
		font-size: 11px; 
		width: 150px; 
		vertical-align: middle; 
		color: #999
	}
	
	#workboxRequestDownload{
		vertical-align: middle; 
		padding-top: 4px; 
		padding-bottom: 3px;
	}
	
	.assignToPackageListContainer{
		padding: 25px 15px 15px 15px;
		max-height: 400px;
		overflow: auto;
	}
	
	.assignToPackageListContainer h3{
		font-size: 14px;
	}
	
	.assignToPackageList .divTableRow:hover{
		background-color: #EEE;
	}
	
	.assignToPackageList .divTableRow .divTableCell{
		padding: 10px;
		cursor: pointer;
	}
	
	.addPackagePhoto{
		width: 50px;		
		cursor: pointer;
		-moz-box-shadow: 0 0 8px #999; 
		-webkit-box-shadow: 0 0 8px #999;     
		box-shadow: 0 0 8px #999;
	}
	
	.removePackagePhoto{
		width: 50px;		
		cursor: pointer;
		-moz-box-shadow: 0 0 8px #000; 
		-webkit-box-shadow: 0 0 8px #000;     
		box-shadow: 0 0 8px #000;
	}
	
	.packagePhotoClose{
		position: absolute;
		margin-left: -2px;
		margin-top: -2px;
		cursor: pointer;
		display: none;
	}
	
/* FORMS */
	input[type="checkbox"],input[type="radio"]{
		margin: 0 3px 0 0;
		padding: 0;
	}
	
	input[type="text"],input[type="password"],textarea,select{
		background-color: #f6f5f5;
		border: 1px solid #ccc;
		padding: 6px;
		color: #333;
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	
	input[type="text"]:focus,input[type="password"]:focus,textarea:focus,select:focus{
		background-color: #FFF;
		border: 1px solid #555;
	}
	
	input[type="button"],input[type="submit"],input[type="file"]{
		background-color: #959395;
		border: #FFF;
		padding: 2px 6px 2px 6px;
		color: #FFF;
		/*
		background-image: url(./images/button.bg.0.png);
		background-repeat: repeat-x;
		*/
		margin: 0;
		font-size: 10px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
	}
	
	input[type="button"]:hover,input[type="submit"]:hover{
		background-color: #666;
		border: 1px solid #888;
		background-image: none;
		cursor: pointer;
		color: #FFF;
	}
	
	input[type="button"]:disabled,input[type="submit"]:disabled{
		background-color: #EEE;
		color: #999;
		/*
		background-image: url(./images/button.bg.0.png);
		background-repeat: repeat-x;
		*/
		cursor: pointer;
		border: 1px solid #DDD;
	}

	.cleanForm{
		margin-top: 20px;
		font-weight: bold;
		font-size: 12px;
	}
	
	.cleanForm .divTableCell{
		padding: 3px;
	}
	
	.cleanForm .divTableCell:nth-child(2){
		/*line-height: 1.6;*/
		font-weight: normal;
	}
	
	#loginForm input[type="submit"],#contactForm input[type="submit"]{
		float: right;
		margin-top: 10px;
	}
	
	.formFieldLabel{
		padding-right: 6px;
		text-align: right;
		color: #999;
		vertical-align: middle;
		white-space: nowrap;
		font-weight: bold;
	}

	.requiredMark{
		font-size: 12px;
		color: #d23e3e;
	}

/* HEADER */
	#header{
		margin-bottom: 20px;	
	}
	
	#headerMemberDetailsArea{
		position: absolute;
		right: 0;
		top: -20px;
		font-size: 12px;
		white-space: nowrap;
		width: 500px;
		text-align: right;
		background-color: #3C3C3C;
		padding: 8px 20px 0 20px;
		color: #EEE;
		-moz-border-radius-bottomleft:8px;
		-webkit-border-bottom-left-radius:8px;
		border-bottom-left-radius:8px;
		-moz-border-radius-bottomright:8px;
		-webkit-border-bottom-right-radius:8px;
		border-bottom-right-radius:8px;
	}
	
	#headerMemberDetailsArea a{
		text-decoration: none;
		color: #FFF;
	}
	
	#headerMemberDetailsArea a:hover{
		text-decoration: underline;
		color: #FFF;
	}
	
	#topNav{
		background-color: #0e5380;
		margin-bottom: 0;
		font-size: 14px;
		-moz-box-shadow: 0 0 6px #000; 
		-webkit-box-shadow: 0 0 6px #000; 
		box-shadow: 0 0 6px #000;
	}
	
	#topNav ul{
		overflow: hidden;
	}
	
	#topNav ul li{
		float: left;
		height: 35px;
		display: block;
		vertical-align: middle;
		text-align: center;
		padding: 4px 17px 4px 17px;
		/*border-right: 3px solid #000;*/
		line-height: 2.6;
	}
	
	#topNav ul li:hover{
		background-color: #2e78a7;
		cursor: pointer;
		color: #FFF;
		/*
		-webkit-border-top-right-radius:4px;
		-webkit-border-top-left-radius:4px;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
		*/
	}
	
	#topNav ul li:hover a{
		color: #FFF;
	}
	
	#topNav ul li a{
		color: #FFF;
		text-decoration: none;
	}
	
	#topNav ul li.selectedNav:hover{
		background-color: #2e78a7;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
	}
	
	#topNav ul li.selectedNav a{
		color: #FFF;
	}
	
	.selectedNav{
		background-color: #2e78a7;/*#5d5f61*/
		-moz-border-radius-topright:4px; 
		-moz-border-radius-topleft:4px;
		-webkit-border-top-right-radius:4px;
		-webkit-border-top-left-radius:4px;
		border-top-left-radius:4px;
		border-top-right-radius:4px;		
	}
	
	#featuredNavButton ul{
		display: none;
		position: absolute;
		background-color: #0e5380;
		margin: 3px 0 0 -17px;
		z-index: 99;
		-moz-box-shadow: 1px 4px 4px #333; 
		-webkit-box-shadow: 1px 4px 4px #333;     
		box-shadow: 1px 4px 4px #333;
	}
	
	#featuredNavButton ul li{
		float: none;
		text-align: left;
		border: 0;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	
	#featuredNavButton ul li:hover{
		background-color: #2e78a7;
	}
	
	#featuredNavButton ul li:hover a{
		color: #FFF;
	}
	
	#featuredNavButton:hover ul{
		display: block;
	}
	
	#logoContainer{			
	}
	
	#searchBar{
		/*
		background-image: url(./images/search.bar.bg.png);
		background-repeat: repeat-x;
		*/
		height: 49px;
		margin-bottom: 7px;
		background-color: #EEE;
		/*
		border-left: 1px solid #404142;
		border-right: 1px solid #404142;
		*/
	}
	
	.contentContainer{
		clear: both;
	}
	
	.headerSearchBox{
		float: left;
		/*
		border-right: 6px solid #202020;
		line-height: 3.4;
		*/
		font-size: 11px;
		white-space: nowrap;
	}
	
	.headerSearchBox a{
		color: #333;
	}
	
	.headerSearchBox a:hover{
		color: #000;
	}
	
	.headerSearchBoxCG{
		background-color: #FFF; 
		height: 18px; 
		margin-top: 10px; 
		padding: 9px 35px 3px 6px;
		color: #666;
		margin-left: -40px;
		border-top: 1px solid #CCC;
		border-right: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		-webkit-border-top-right-radius:4px;
		-webkit-border-bottom-right-radius:4px;
		border-top-left-radius:4px;
		border-bottom-right-radius:4px;
	}
	
	.headerSearchBoxCG input[type="checkbox"]{
		float: left;
		margin-right: 4px;
	}
	
	.headerSearchBoxOption{
		padding-top: 20px;
		padding-left: 10px;
	}
	
	.headerSearchBox input[type="text"].searchInputBox{
		margin-top: 10px;
		margin-left: 8px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		width: 280px;
		padding: 3px 3px 3px 10px;
	}
	
	.eyeGlass{
		height: 22px;
		width: 22px;
		vertical-align: middle;
		margin-left: -30px;
		margin-top: 14px;
		cursor: pointer;
		float: left;
		background-image: url(./images/search.icon.png);
		background-repeat: no-repeat;
	}
	
	input[type="text"].searchInputBox{
		background-color: #FFF;
		border: 1px solid #CCC;
		color: #666;
		font-size: 11px;
		height: 24px;
		width: 200px;
		padding-left: 6px;
		vertical-align: middle;
	}
	
	#headerCartBox{
		float: right;
		padding-right: 10px;
		font-size: 12px;
		margin-top: 0;
		background-color: #EEE;
	}
	
	#headerCartBox a{
		text-decoration: none;
	}
	
	#headerCartBox a:hover{
		text-decoration: underline;
	}
	
	#headerCartBox img{
		vertical-align: middle;
		margin-top: -4px;
		margin-right: 4px;
	}
	
	/*#headerCartBox p{
		float: right;
		font-weight: normal;
		font-size: 12px;
	}
	*/
	
	#cartPreviewContainer{
		position: relative;
		white-space: nowrap;
		float: right;
		position: relative;		
		padding: 14px 10px 13px 15px;
		margin-top: 6px;
		-moz-border-radius-topright:4px; 
		-moz-border-radius-topleft:4px;
		-webkit-border-top-right-radius:4px;
		-webkit-border-top-left-radius:4px;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
		cursor: pointer;
	}
	
	.cartPreviewContainerOn{
		background-color: #D3D5D6;
	}
	
	#miniCartContainer{
		display: none;
		position: absolute; 
		right: 0;
		top: 43px;
		min-height: 70px;
		background-color: #D3D5D6;
		width: 240px;
		z-index: 98;
		padding: 20px 20px 40px 15px;
		cursor:auto;
		-moz-box-shadow: 0 3px 4px #444; 
		-webkit-box-shadow: 0 3px 4px #444; 
		box-shadow: 0 3px 4px #444;
	}
	
	#miniCartItemsList{
		max-height: 500px;
		overflow: auto;
	}
	
	#miniCartContainer .viewCartButton{
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
	
	#miniCartContainer .cartItemDescription{
		clear: both;
		color: #555;
	}
	
	
	#cartItemsCount{
		position: absolute;
		background-color: #ff760e;	
		float: left;
		padding: 3px 5px 3px 5px;
		color: #FFF;
		height: 10px;
		-moz-border-radius:8px;
		-webkit-border-radius:8px;
		border-radius:8px;
		top: -8px;
		left: -8px;
		font-size: 11px;
		font-weight: bold;
		-moz-box-shadow: 0 0 6px #555; 
		-webkit-box-shadow: 0 0 6px #555; 
		box-shadow: 0 0 6px #555;
	}
	
	#languageSelector{
		float: right;
		cursor: pointer;
		height: 20px;
		color: #FFF;
	}
	
	select#languageSelector{
		height: auto;
		float: none;
		color: #999;
		margin: 0;
	}
	
	select#currencySelector{
		height: auto;
		float: none;
		color: #828282;
		margin: 0;
	}
	
	#languageSelector ul li a, #languageSelector ul li a:hover{
		color: #666;
		text-decoration: none;
	}
	
	#languageSelector img{
		width: 20px;
		vertical-align: middle;
		margin-left: 6px;
	}
	
	#languageSelector:hover ul{
		display: block;
	}
	
	#languageSelector ul{
		display: none;
		right: 0;
		position: absolute;
		border: 1px solid #FFF;
		background-color: #FFF;
		margin-top: 0;
		color: #999;
		z-index: 999;
	}
	
	#languageSelector ul li img{
		margin: 2px 0 0 10px;
		float: right;
		vertical-align: middle;
	}
	
	#currencySelector{
		margin-left: 5px;
		margin-top: 20px;
		float: right;
		cursor: pointer;
		color: #666;
	}
	
	#currencySelector span{
		font-size: 11px;
	}
	
	#currencySelector ul{
		clear: both;
		display: none;
		position: absolute;
		right: 0;
		background-color: #FFF;
		/*margin-top: 2px;*/
		border: 1px solid #FFF;
		z-index: 99;
	}
	
	#currencySelector ul li, #languageSelector ul li{
		margin: 0;
		padding: 4px 10px 4px 10px;
		line-height: 1.5;
		white-space: nowrap;
		text-align: left;
	}
	
	#currencySelector ul li a{
		color: #666;
		text-decoration: none;
	}
	
	#currencySelector ul li a:hover{
		color: #333;
		text-decoration: none;
	}
	
	#currencySelector ul li:hover, #languageSelector ul li:hover, #currencySelector ul li:hover a{
		background-color: #EEE;
		color: #666;
	}
	
	#currencySelector:hover ul{
		display: block;
	}
	
	#selectedCurrency, #selectedLanguage{
		background-color: #e0e0e0;
		color: #333;
	}
	
/* CONTENT TABLE */
	.contentLeftColumn{
		width: 300px;
		background-color: #EEE;
		vertical-align: top;
	}
	
	.contentRightColumn{
		width: 694px;
		vertical-align: top;
		padding-left: 6px;
	}
	
	.contentRightColumn h1{
		clear: both;
		/*border-top: 1px solid #FFF;	*/
		margin: 20px 0 0 0;
		padding: 5px 0 10px 10px;
		font-size: 16px;
		color: #333;
	}
	
	.contentRightColumn h1 a{
		text-decoration: none;
	}
	
	.contentRightColumn h1 img{
		vertical-align: baseline;
		margin-left: 5px;
	}
	
	.content{
		padding: 20px 0 20px 20px;
		line-height: 1.5;
		position:relative;
	}
	
	.content h1{
		font-size: 16px;
		font-weight: bold;
		border-top: 0;
		border-bottom: 1px solid #CCC;
		margin-top: 0;
		margin-bottom: 20px;
		padding: 0 0 6px 0;
		/*font-style: italic;*/
	}
	
	.content h1 span{
		/* float: right; */
		font-weight: normal;
		font-size: 12px;
		line-height: 2.5;
	}
	
	.content h1 span .colorLink{
		float: right;
	} /* added in 4.0.5 */ 
	
	.notice{
		font-weight: bold;	
		color: #FF3333;
		font-size: 12px;
	}
	
	.homepageMediaList{
		padding-left: 10px;
	}

/* Tabs */
	.tabs{
		margin-top: 10px;	
	}
	
	.tabs li{
		float: left;
		padding: 10px 15px 10px 15px;
		background-color: #dadada;
		margin-right: 2px;
		cursor: pointer;
		font-weight: bold;
		border-bottom: 1px solid #CCC;
	}
	
	.tabs li:hover{
		background-color: #EEE;
	}
	
	.tabs li.selectedTab{
		background-color: #EEE;
		border-bottom: 1px solid #EEE;
	}
	
	.dataGroupContainer{
		background-color: #EEE;
		padding: 10px 20px 10px 20px;
		display: none;
		clear: both;
		overflow: auto;
	}

/* MEDIA DETAILS PAGE */
	#mediaPreviewContainer{
		margin-top: 5px;
		padding: 20px 20px 10px 20px;
		background-color: #EEE;
	}
	
	#mediaPreviewImage{
		min-width: 200px;
		background-image: url('./images/loader2.gif');
		background-repeat: no-repeat;
		background-position: 20px 20px;
	}
	
	#mediaPreviewImage p.previewContainer{
		background-image: url('./images/loader2.gif');
		background-repeat: no-repeat;
		background-position: 20px 20px;
		min-width: 200px;
		background-color: #FFF;
	}
	
	.mediaPreviewContainerIcon{
		padding: 6px 10px 6px 6px;
		border: 1px solid #CCC;
		background-color: #EEE;
		margin-left: 3px;
		cursor: pointer;
		float: right;
		font-size: 11px;
	}
	
	.mediaPreviewContainerIcon img{
		height: 15px;
		vertical-align: middle;
		margin-top: -3px;
	}
	
	.mediaPreviewContainerIcon:hover{
		background-color: #b4b4b4;
		border: 1px solid #b4b4b4;
	}
	
	#mediaPreviewContainer ul{
		float: left;
		margin-left: 25px;
		min-width: 200px;
	}
	
	#mediaPreviewContainer ul li{
		margin-bottom: 10px;
	}
	
	#mediaPreviewContainer ul li .ratingStar{
		width: 16px;
	}
	
	#mediaPreviewContainer .prevNext{
		/*position: absolute;
		right: 10px;
		top: 10px;
		*/
		margin-top: -15px;
		margin-bottom: 9px;
		margin-left: -14px;
		margin-right: -14px;
		clear: both;
		overflow: auto;
	}
	
	#mediaPreviewContainer .prevNext input[type="button"]{
		font-size: 10px;	
		font-weight: bold;
	}
	
	#mediaPurchaseTabsContainer{
		margin-top: 10px;	
		overflow: auto;
	}
	
	#mediaPurchaseTabsContainer li{
		float: left;
		padding: 10px 15px 10px 15px;
		background-color: #dadada;
		margin-right: 2px;
		cursor: pointer;
		font-weight: bold;
		border-bottom: 1px solid #CCC;
	}
	
	#mediaPurchaseTabsContainer li:hover{
		background-color: #EEE;
	}
	
	#mediaPurchaseTabsContainer li.mediaPurchaseTabsSelected{
		background-color: #EEE;
		border-bottom: 1px solid #EEE;
	}
	
	.mediaPurchaseContainers{
		background-color: #EEE;
		padding: 10px 20px 10px 20px;
		display: none;
		/*
		-moz-box-shadow: 0px 0px 9px #000; 
		-webkit-box-shadow: 0px 0px 9px #000;     
		box-shadow: 0px 0px 9px #000;
		*/
	}
	
	#mediaPurchaseContainers .mpcDescription{
		margin-top: 10px;
		margin-bottom: 10px;
		color: #999;
	}
	
	.mediaDetailsBoxes{
		margin-top: 15px;
		padding: 20px;
		background-color: #EEE;
		min-height: 20px;
		/*
		-moz-box-shadow: 0px 0px 9px #000; 
		-webkit-box-shadow: 0px 0px 9px #000;     
		box-shadow: 0px 0px 9px #000;
		*/
	}
	
	.mediaDetailsBoxesLoader{
		background-image: url('./images/loader3.gif');
		background-repeat: no-repeat;
		background-position: 4px 4px;	
	}
	
	#mediaComments ul li{
		overflow: auto;
		margin-bottom: 6px;
		background-color: #484848;
		padding: 10px;
	}
	
	#newCommentContainer{
		overflow: auto;
		margin-bottom: 10px;
		color: #999	
	}
	
	.commentDate{
		float: right;
		color: #999;
		font-size: 11px;
	}
	
	.commentContent{
		color: #999;
		font-size: 11px;
	}
	
	.commentTextarea{
		width: 940px;
		height: 80px;
		background-color: #FFF;	
	}
	
	#mediaComments ul li img{
		float: left;
		-moz-box-shadow: 2px 2px 4px #222; 
		-webkit-box-shadow: 2px 2px 4px #222;     
		box-shadow: 2px 2px 4px #222;
		margin: 0 10px 0 0;
	}
	
	.mediaDetailsBoxes h2{
		margin-bottom: 10px;
		font-size: 14px;
	}
	
	.purchaseListDescription{
		font-size: 12px;
		color: #333;
	}
	
	.workboxRightColumn p.purchaseListDescription{
		margin-bottom: 8px;	
	}
	
	.licenseDescriptionWB{
		color: #777;	
	}
	
	.purchaseListDescription .fileCheckIcon{
		margin-left: 2px;
		margin-bottom: -3px;
		width: 16px;
		height: 16px;
	}
	
	ul.purchaseListDescription{
		background-color: #EEE;
		padding: 10px;
		margin: 10px 4px 0 4px;
	}
	
	ul.purchaseListDescription li{
		margin-top: 12px;
		margin-bottom: 12px;
		text-align: left;
		line-height: 1.3;
		padding: 0 4px 0 4px;
	}
	
	ul.purchaseListDescription li strong{
		color: #333;
	}
	
	.mediaPurchaseContainers img{
		margin: 0 10px 0 10px;
		/*border: 2px solid #CCC;
		-moz-box-shadow: 0 0 4px #000; 
		-webkit-box-shadow: 0 0 4px #000;     
		box-shadow: 0 0 4px #000;*/
	}
	
	.mediaPurchaseContainers .divTableCell{
		padding-bottom: 15px;
		padding-top: 15px;
		border-bottom: 1px dotted #444;
	}
	
	.mediaPurchaseContainers .divTableRow:last-child .divTableCell{
		border-bottom: 0;
	}
	
	.tagList{
		overflow: auto;
	}
	
	.tagList li{
		float: left;
		margin: 0 4px 2px 0;
		background-color: #484848;
		padding: 4px 8px 4px 8px;
		font-size: 11px;
		cursor: pointer;
	}
	
	.tagList li:hover{
		background-color: #585858;
	}
	
	.downloadSubs{
		background-color: #000;
		margin-top: 10px;
		overflow: auto;
		padding: 10px;
	}
	
	.downloadSubs span{
		font-size: 14px;
		font-weight: bold;	
	}
	
	.downloadSubs li{
		margin-top: 6px;
		overflow: auto;
		padding: 10px;
	}
	
	.downloadSubs li:hover{
		background-color: #EEE;
		cursor: pointer;
	}
	
	.downloadSubs input[type="radio"]{
		float: left;
		margin-right: 10px;
		margin-top: 4px;
	}
	
	.downloadSubs label{
		font-size: 14px;
		font-weight: bold;
		color: #EEE
	}
	
	.downloadSubs p{
		float: left;
		color: #999
	}

/* PAGING */
	.paging{
		margin-top: 20px;	
		text-align: right;
		color: #666;
	}
	
	.paging .totalResults{
		color: #999;	
	}
	
	.paging .previous{
		margin-left: 3px;
		
	}
	
	.paging .next{
		margin-left: 3px;
	}
	
	.paging select, .sortByContainer select{
		padding-left: 3px;
		background-color: #EEE;
		border: 0;
		color: #666;
	}
	
	.paging select{
		font-weight: bold;
	}
	
	.paging input[type="button"]{
		font-size: 16px;	
		font-weight: bold;
	}
	
	.sortByContainer{
		float: left;
	}

/* CONTRIBUTORS */
	#attachFileUploaderContainer{
		position: absolute;
		background-color: rgba(27,27,27,.7);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;
		z-index: 99;
	}
	
	.attachFilePopup{
		margin: auto;
		width: 300px;
		height: 80px;
		padding: 60px;
		background-color: #EEE;
		border: 1px solid #444;
		position: relative;
		margin-top: 160px;
	}
	
	.attachFileContainer{
		clear: both;
		text-align: right;
		margin-top: 15px;	
	}
	
	.attachFileContainer p{
		display: none;
	}
	
	.sampleUploaderBox{
		position: absolute;	
		background-color: #393939;
		width: 301px;
		min-height: 50px;
		display: none;
		top: 1px;
		left: 1px;
		border: 1px solid #444;
		-moz-box-shadow: 0 2px 4px #000; 
		-webkit-box-shadow: 0 2px 4px #000;     
		box-shadow: 0 2px 4px #000;
	}
	
	.sampleUploaderBox #closeSampleBox{
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}
	
	.detailsColumn2{
		position: relative;
		float: left;
		background-color: #292929;
		border: 1px solid #393939;
	}
	
	.samplesButtons{
		text-align: center;
		padding: 6px;
	}
	
	.samplesButtons p{
		float: left;
		padding: 6px;
		background-color: #000;
		border: 1px solid #333;
		width: 45%;
		color: #999;
	}
	
	.samplesButtons p:hover{
		color: #FFF;
		cursor: pointer;
		background-color: #999;
		border: 1px solid #555;
	}
	
	.formFieldList ul li{
		margin-top: 5px;
		overflow: auto;
		color: #999;
	}
	
	.keywordsContainer{
		padding: 10px;
		clear: both;
		overflow: auto;
		background-color: #999;
		width: 244px;
	}
	
	.keywordsContainer p{
		padding: 4px 6px 4px 6px;
		background-color: #666;	
		float: left;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		margin: 0 2px 2px 0;
		color: #FFF;
	}
	
	.keywordsContainer p:hover{
		background-color: #777;
		cursor: pointer;
	}
	
	.keywordsContainer p img{
		vertical-align: middle;
		width: 12px;
	}
	
	.contrSalesTableFooter{
		text-align: right;
		padding: 10px 0 10px 10px;
		color: #999;
	}
	
	.approvalStatusBar{
		text-align: center;
		padding-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
		height: 12px;
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.approvalStatus0{
		background-color: #faa419;
		color: #333;
	}
	
	.approvalStatus1{
		background-color: #0fa692;
	}
	
	.approvalStatus2{
		background-color: #ef3c23;
	}
	
	#contrImportLog{
		max-height: 200px;
		overflow: auto;
		background-color: #EEE;
		border-left: 4px solid #EEE;
		border-right: 4px solid #EEE;
		border-bottom: 4px solid #EEE;
		margin-bottom: 40px;
	}
	
	#contrImportStatusRow{
		background-color: #EEE;
		padding: 10px;
		color: #999;
		height: 15px;
		position: relative;
	}
	
	#contrImportStatusRow p{
		/*display: none;*/
	}
	
	#loaderContainer{
		background-color: #959595;
		height: 16px;
		position: absolute;
		right: 4px;	
		top: 10px;
		width: 150px;
		overflow: hidden;
	}
	
	#loaderContainer p{
		background-color: #666;
		height: 16px;
		padding: 3px 4px 2px 2px;
		font-size: 11px;
		text-align: right;
		position: absolute;
		width: 50px;
		color: #FFF;
	}
	
	#galleriesTreeContainer ul li{
		padding: 6px 6px 6px 16px;
	}
	
	#contrImportLog ul li{
		padding: 14px 14px 14px 20px;
		background-color: #EEE;
		color: #999;
	}
	
	#contrImportLog ul li:nth-child(odd){
		background-color: #000;
	}
	
	#contrImportLog ul li span.fileName{
		color: #FFF;
		font-weight: bold;
	}
	
	#contrImportLog ul li span.error{
		color: #d50404;
		font-weight: bold;
	}
	
	.divTable .rowSpacer .divTableCell{
		height: 15px;
	}
		
	.contrItemSelectTable{
		width: 92%;
	}
	
	.contrItemSelectTable .divTableRow{
		background-color: #DBDBDB;	
	}
	
	.contrItemSelectTable .divTableCell{
		padding: 10px;
	}
	
	.contrItemSelectTable .divTableCell:first-child{
		width: 1px;
	}
	
	.contrItemSelectTable .divTableCell:last-child{
		padding: 0 10px 10px 10px;
	}
	
	.contrItemSelectTable label, .ablumTypeTable label{
		font-size: 14px;
		font-weight: bold;
		cursor: pointer;
	}
	
	.rowSpacerCIST .divTableCell{
		height: 3px;
		padding: 0px 0px 0px 0px !important;
		background-color: #EEE;
	}
	
	#contrImportContainer{
		background-color: #749FBA;
		position: relative;
	}
	
	.pricingInfo{
		display: none;
		padding: 10px;
		background-color: #DBDBDB;
		overflow: auto;
		color: #999;	
	}
	
	.pricingInfo ul{
		margin-bottom: 14px;	
	}
	
	.pricingInfo ul li{
		margin-bottom: 4px;
		color: #666;
		text-align: right;
	}
	
	.pricingInfo ul li strong{
		font-weight: bold;
		color: #999;	
	}
		
	.pricingInfo div{
		float: right;
		margin-left: 15px;	
	}
	
	.pricingInfo input[type="text"]{
		min-width: 50px !important;
		width: 50px;
	}
	
	.pricingInfo p{
		font-size: 11px;
		text-align: right;
		color: #777;
		padding-top: 4px;
		font-style: italic;
	}
	
	#importSelectedButton{
		position: absolute;
		bottom: 8px;
		right: 28px;
	}
	
	#contrImportContainer h2{
		padding: 8px;
		background-color: #0E5380;
		color: #FFF;
	}
	
	#contrImportListContainer{
		padding: 20px;
		min-height: 100px;
		max-height: 400px;
		overflow: auto;
	}
	
	#contrImportContainer .contrIconsContainer{
		top: 10px;
		right: 10px;
	}
	
	.importListImgContainer img{
		cursor: pointer;	
	}
	
	.contrImportListItems{
		float: left;
		margin-right: 3px;
		margin-bottom: 3px;
		padding: 10px;
		width: 120px;
		height: 120px;
		font-size: 11px;
		overflow: hidden;
		background-color: #D3D3D3;
		position: relative;
		word-wrap: break-word;
	}
	
	.contrImportListItems:hover{
		background-color: #BFBFBF;
	}
	
	#contrImportListContainer p{
		text-align: center;	
		clear: both;
	}
	
	.contrImportListItems input[type="checkbox"]{
		position: absolute;
		top: 4px;
		left: 4px;
	}
	
	.importWindowLoader{
		background-image: url('./images/loader1.gif');
		background-repeat: no-repeat;
		background-position: 20px 20px;
	}
	
	.contrIconsContainer{
		position: absolute; right: 0;
	}
	
	.contrIconsContainer img{
		height: 15px;
		margin-left: 6px;
		opacity:0.4;
		filter:alpha(opacity=40);
	}
	
	.contrIconsContainer img:hover{
		opacity:1.0;
		filter:alpha(opacity=100);
	}
	
	#featuredContributorsList{
		width: 100%;
	}
	
	#featuredContributorsList .divTableCell{
		padding: 0 10px 24px 10px;
		width: 33.33%;
	}
	
	#featuredContributorsList img{
		float: left;
		margin-right: 10px;
		margin-bottom: 30px;
		-moz-box-shadow: 2px 2px 4px #000; 
		-webkit-box-shadow: 2px 2px 4px #000;     
		box-shadow: 2px 2px 4px #000;
	}
	
	.contributorGalleryBio{
		margin-bottom: 20px;
		color: #999;
	}
	
	.h1PhotoHeader{
		float: left;
		margin-right: 14px;
		border: 1px solid #FFF;
		-moz-box-shadow: 2px 2px 4px #000; 
		-webkit-box-shadow: 2px 2px 4px #000;     
		box-shadow: 2px 2px 4px #000;
	}
	
	#featuredContributorsList p{
		font-size: 11px;
	}
	
	#featuredContributorsList .bio{
		color: #999;
	}
	
	#contributorsList{
		margin-top: 20px;
		margin-left: 10px;
		overflow: auto;
	}
	
	#contributorsList li{
		float: left;
		width: 160px;
		margin-bottom: 20px;
		margin-right: 20px;
		list-style-position: inside;
		vertical-align: top;
		height: 30px;
	}
	
	#contributorsList li img{
		/*border: 1px solid #FFF;*/
		-moz-box-shadow: 2px 2px 4px #000; 
		-webkit-box-shadow: 2px 2px 4px #000;     
		box-shadow: 2px 2px 4px #000;
		vertical-align: top;
		margin-right: 6px;
	}
	
	.contributorInfo .info{
		font-weight: bold;
		color: #FFF;
	}
	
	.contributorInfo a.color{
		color: #FF9933;		
	}
	
	.contributorInfo a{
		color: #FF9933;		
	}
	
	.contributorInfo{
		float: left;
		margin-bottom: 15px;
		margin-right: 25px;
		background-color: #EEE;
		overflow: auto;
		padding: 20px;
		color: #999;
	}
	
	#contributorProfile img{
		margin: 0 16px 10px 0;
		/*border: 4px solid #FFF;*/
		-moz-box-shadow: 2px 2px 4px #000; 
		-webkit-box-shadow: 2px 2px 4px #000;     
		box-shadow: 2px 2px 4px #000;
	}
	
	#contrSubNav .lighterLink{
		color: #999;
	}
	
	#contrSubNav .contrGalleries{
		
	}
	

/* NEWS */
	.newsDate, .upArrow0{
		padding-left: 20px;	
		padding-right: 5px;	
		text-align: right;
		font-size: 12px;
		background-image: url(./images/up.arow.light.png);
		background-repeat: no-repeat;
		background-position: left bottom;
		color: #999;
		margin-top: 10px;
	}
	
	.upArrow1{
		background-image: url(./images/up.arow.light.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	
	.newsDate2{
		font-size: 12px;
		color: #999;
		margin-bottom: 10px;
		font-weight: bold;
	}
	
	.newsArticle{
		margin-bottom: 15px;
		background-color: #EEE;
		overflow: auto;
		padding: 20px;
	}
	
	.newsTitle{
		font-weight: bold;
		font-size: 14px;
	}
	
	.newsTitle a{
		color: #666;
	}
	
	.newsShort{
		color: #999;
	}
	
	.newsMore{
		text-align: right;	
	}

/* FEATURED PAGES */
	.taxIncMessage{
		font-size: 10px;
		color: #999;
		font-style:italic;
	}
	
	.featuredPageItem{
		border: 1px solid #e6e5e5;
		margin-top: 7px;
		margin-right: 7px;
		background-color: #f6f6f6;
		float: left;
		width: 212px;
		position: relative;
		overflow: auto;
	}
	
	.featuredPageItem:hover{
		background-color: #EEE;
		border: 1px solid #FFF;
		-moz-box-shadow: 0 0 8px #b5b5b5; 
		-webkit-box-shadow: 0 0 8px #b5b5b5;     
		box-shadow: 0 0 8px #b5b5b5;
		cursor: pointer;
	}
	
	.featuredPageItem h2{
		padding: 15px 15px 0 15px;
		font-size: 16px;
	}
	
	.featuredPageItem .moreInfo{
		padding: 10px 15px 10px 15px;
		position: absolute;
		bottom: 0;
		right: 0;
		line-height: 1.3;
		text-align: right;
	}
	
	.featuredPageItem .moreInfo .price{
		font-size: 12px;
	}	
	
	.featuredPageItem input[type="button"]{
		float: right;	
	}
	
	.featuredPageItem img{
		/*border: 3px solid #FFF;*/
		float: right;
		margin-bottom: 4px;
		margin-left: 10px;
		/*
		-moz-box-shadow: 0 0 4px #000; 
		-webkit-box-shadow: 0 0 4px #000;     
		box-shadow: 0 0 4px #000;
		*/
	}
	
	.featuredPageItem .description{
		color: #999;
		padding: 5px 15px 15px 15px;
		margin-bottom: 30px;
		overflow: auto;
	}
	
	.promoUse{
		font-size: 11px;
		color: #666
	}
	
	.promoUseB{
		font-size: 11px;
		color: #999
	}
	
	.promoUseC{
		font-size: 12px;
		color: #EEE
	}

/* ABOUT US */
	#aboutUs .divTableCell{
		vertical-align: top;
	}
	
	.businessAddress{
		white-space: nowrap;
		padding-left: 20px;
		color:#999;
	}
	
	.businessAddress p{
		margin-bottom: 15px;
		background-color: #EEE;
		overflow: auto;
		padding: 20px;
		float: right;
		color: #333;
	}

/* HOMEPAGE */
	.hpWelcomeMessage{
		line-height: 1.3;
		color: #444;
		padding: 20px 35px 35px 35px;
		font-size: 14px;
		text-align: left;
	}
	
	#featuredMedia{
		/*height: 300px;*/
		display: block;
		background-color: #FFF;
		padding: 0;
		margin: 0 0 7px 0;
		line-height: 0;
		overflow: visible;
		position: relative;
	}
	
	#featuredMedia .divTableCell{
		vertical-align: top;
	}
	
	#featuredOneCell{
		background-color: #FFF;
		/*
		height: 340px;
		min-width: 694px;
		*/
		text-align: right;
		background-image: url('./images/loader2.gif');
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}
	
	#featuredOneContainer{
		margin: 0;
		padding: 0;
		cursor: pointer;
	}
	
	#featuredNext{
		position: absolute;
		right: 0;
		top: 0;
		background-color: #FFF;
		color: #000;
		font-size: 18px;
		font-weight: bold;
		padding: 6px 3px 10px 6px;
		display: none;
		cursor: pointer;
		-moz-border-radius-bottomleft:8px;
		-webkit-border-bottom-left-radius:8px;
		border-bottom-left-radius:8px;
	}
	
	#featuredOneCell:hover #featuredNext{
		display: block;
	}
	
	#featuredMediaList{
		display: none;
		position: absolute;
		line-height: 1;
		overflow: auto;		
		padding: 10px;
		bottom: 0;
		text-align: left;
		background-color: #000;
		border-top: 1px solid #666;
		color: #FFF;
	}
	
	#featuredMediaList li{
		display: none;
	}
	
	#featuredMediaList .description{
		font-size: 10px;
		color: #EEE;
	}
	
	#featuredMediaList .title{
		font-weight: bold;
		color: #FFF;
	}
	
	#featureBoxes{
		overflow: auto;
		margin-bottom: 7px;
		width: 100%;
		position: relative;
		color: #FFF;
	}
	
	.hpFeatureBox{
		vertical-align: top;
		min-height: 13px;
		padding-right: 10px;
	}
	
	.hpFeatureBox a{
		color: #FFF;
	}
	
	.hpFeatureBox h1{
		margin: 10px 0 4px 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
	}
	
	.hpFeatureBox div{
		line-height: 1.3;
	}
	
	.hpFeatureBox .time{
		font-size: 10px;	
	}
	
	.hpFeatureBox .divTableRow .divTableCell, .hpFeatureBox ul li{
		padding-bottom: 2px;
	}
	
	.hpFeatureBox .more{
		font-size: 11px;
		text-align: right;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 12px;
	}
	
	.hpFeatureBox .divTableRow .divTableCell:first-child{
		width: 100px;
	}
	
	#featuredIcon{
		overflow: visible;
		float: left;
		margin: 10px 10px 0 10px;
		text-align: center;
		width: 90px;
		vertical-align: middle;
		padding-top: 10px;
		padding-bottom: 7px;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 74px;
		position: absolute;
	}
			
	.hpFeatureBox:nth-child(1){
		/*background-image: url(./images/feature.box.a.png);
		background-repeat: repeat-x;*/
		border-right: 6px solid #0E5380;
		background-color: #0e5380;
	}
	
	.hpFeatureBox:nth-child(1) img{
		/*
		-moz-box-shadow: 2px 2px 10px #aa110b; 
		-webkit-box-shadow: 2px 2px 10px #aa110b;     
		box-shadow: 2px 2px 10px #aa110b;
		*/
		float: left;
		margin: 10px;
		padding: 10px;
	}
	
	.hpFeatureBox:nth-child(2){
		/*background-image: url(./images/feature.box.b.png);
		background-repeat: repeat-x;*/
		border-right: 6px solid #0E5380;
		background-color: #0e5380;
	}
	
	.hpFeatureBox:nth-child(2) img{
		/*
		-moz-box-shadow: 2px 2px 10px #d28407; 
		-webkit-box-shadow: 2px 2px 10px #d28407;     
		box-shadow: 2px 2px 10px #d28407;
		*/
		float: left;
		margin: 10px;
		padding: 10px;
	}
	
	.hpFeatureBox:nth-child(3){
		/*background-image: url(./images/feature.box.c.png);
		background-repeat: repeat-x;*/
		background-color: #0e5380;
	}
	
	/*
	.hpFeatureBox:nth-child(3) img{
		-moz-box-shadow: 2px 2px 10px #015d5c; 
		-webkit-box-shadow: 2px 2px 10px #015d5c;     
		box-shadow: 2px 2px 10px #015d5c;
	}
	*/
	
/* GALLERY */
	.galleryEventDetails{
		background-color: #EEE;
		overflow: auto;
	}
	
	.galleryEventDetails li{
		float: left;
		padding: 10px 10px 10px 4px;
		color: #999;
	}
	
	.galleryEventDetails li.eventDetailsTitle{
		font-weight: bold;
		padding: 10px 4px 10px 10px;
		color: #FFF;
	}
	
	#galleryListContainer{
		overflow: auto;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	.galleryContainer{
		float: left;
		margin: 0 7px 7px 0;
		padding: 0;
		font-size: 14px;
		position: relative;
		text-align: center;
		vertical-align: bottom;
		background-color: #EEE;
		line-height: 0;
		-moz-box-shadow: 3px 3px 4px #CCC; 
		-webkit-box-shadow: 3px 3px 4px #CCC;     
		box-shadow: 3px 3px 4px #CCC;
		
		/*
		padding: 10px;
		*/
	}
	
	.galleryContainer:hover{
		background-color: #e1e1e1;	
	}
	
	.pageCurl{
		position: absolute;
		z-index: 97;
		top: -1px;
		left: -1px;
		display: none;
	}
	
	.galleryIconContainer{
		background-image: url('./images/loader3.gif');
		background-repeat: no-repeat;
		background-position: center;
		line-height: 0;
		min-height: 50px;
	}
	
	.galleryDetailsContainer{
		display: table-cell;
		padding: 0;
		vertical-align:middle;
		border: none;
		border-collapse: collapse;
		overflow: auto;
	}
		
	.galleryDetails{
		line-height: 1.2;
		margin: 10px 20px 10px 20px;
	}
	
	.galleryMediaCount{
		font-size: 12px;
		color: #999;
	}
	
	.lock{
		vertical-align: middle;
		margin-top: -3px;
		margin-right: 4px;
	}
	
	.galleryFeaturedItemsContainer{
		clear: both;
		overflow: auto;
		margin-top: 10px;
		background-color: #EEE;
		padding: 3px 10px 10px 10px;
		position: relative;
	}
	
	.galleryFeaturedItemsContainer h1{
		margin: 0;
		border: none;
		padding: 5px 0 0 24px;
		font-size: 14px;
		color: #999;
	}
	
	.galleryFeaturedItemsContainer .featuredPageItem{
		width: 236px;	
	}
	/*
	.seclabel{
		float: left;
		width: 36px;
		position: absolute;
		bottom: 20px;
		left: 0;
	}
	
	.seclabel p{
		font-size: 14px;
		font-weight: bold;
		color: #CCC;
		-webkit-transform: rotate(-90deg);	
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
		writing-mode: lr-tb;
		text-align: right;
	}
	*/
	
	.galleryFeaturedItemsContainer h2{
		font-size: 12px;
	}
	
	.galleryFeaturedItemsContainer .description{
		font-size: 11px;
	}
	
	.h1PriceCart{
		position: absolute;
		top: 38px;
		right: 0;
		background-color: #FFF;
		padding-left: 10px;
	}
	
	.h1PriceCart .price{
		font-size: 16px;
		font-weight: bold;
	}
	
/* MEDIA */
	#mediaListContainer{
		overflow: auto;
		margin-top: 20px;
	}
	
	.mediaContainer{
		float: left;
		border: 1px solid #FFF;
		margin: 0 7px 7px 0;
		/*margin: 0 0 7px 7px;*/
		padding: 10px 7px 0 0;
		font-size: 11px;
		background-color: #EEE;
		line-height: 0;
		position: relative;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		-moz-box-shadow: 2px 2px 10px #CCC; 
		-webkit-box-shadow: 2px 2px 10px #CCC;     
		box-shadow: 2px 2px 10px #CCC;
	}
	
	.mediaThumbContainer, .hoverMediaContainer{
		text-align: center;
		overflow: visible;
		padding: 0;
		margin: 0;
		background-color: #EEE;
		line-height: 0;
	}
	
	.mediaContainer .dtypeIcon{
		position: absolute;
		width: 25px;
		margin: 4px;
	}
	
	.mediaThumbContainer img{
		padding: 0px;
		margin: 0;
		cursor: pointer;
		border: 4px solid #FFF;
		-moz-box-shadow: 2px 2px 10px #CCC; 
		-webkit-box-shadow: 2px 2px 10px #CCC;     
		box-shadow: 2px 2px 10px #CCC;
	}
	
	.mediaContent{
		padding: 10px 10px 28px 10px;
	}
	
	.mediaContent > li{
		line-height: 1.5;
		margin-bottom: 2px;
		word-wrap: break-word;
	}
	
	.mediaContent > li:last-child{
		position: absolute;
		bottom: 0;
		right: 0;
		padding-right: 6px;
	}
	
	.mediaContent > li:last-child div{
		float: right;
	}
	
	.thumbDownloadContainer{
		position: absolute;
		z-index: 500;
		bottom: 0;
		margin-left: -62px;
		border: 1px solid #555;
		background-color: #999;
		width: 150px;
		min-height: 34px;
		max-height: 300px;
		margin-bottom: 26px;
		display: none;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		-moz-box-shadow: 0 2px 6px #000; 
		-webkit-box-shadow: 0 2px 6px #000; 
		box-shadow: 0 2px 6px #000;
		background-image: url(./images/loader5.gif);
		background-position: 10px 10px;
		background-repeat: no-repeat;
	}
	
	.thumbDownloadContainer ul li{
		padding: 5px;
		overflow: hidden;
		text-align: center;
		cursor: pointer;
	}
	
	.thumbDownloadContainer ul li:hover{
		background-color: #CCC;
	}
	
	.colorSwatchMC{
		position: absolute;
		bottom: 6px;
		left: 6px;
	}
	
	.mediaDetailsList li{
		clear: both;
		overflow: auto;
	}
	
	.mediaDetailLabel{
		font-weight: bold;	
		color: #000;
	}
	
	.colorSwatch{
		float: left; 
		margin-right: 2px; 
		width: 15px; 
		height: 15px; 
		margin-top: 0; 
		border: 1px solid #FFF; 
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		cursor: pointer;
	}
	
	.mediaContainerIcon{
		padding: 3px;
		height: 15px;
		border: 1px solid #202020;
		background-color: #000;
		margin: 3px 0 3px 3px;
		cursor: pointer;
		opacity:0.6;
		filter:alpha(opacity=60);
	}
	
	.mediaContainerIcon:hover{
		background-color: #202020;
		border: 1px solid #333;
		opacity:1.0;
		filter:alpha(opacity=100);
	}
	
	.mediaDetailValue{
		color: #333;
		word-wrap: break-word;
	}
	
	.similarMedia{
		margin-right: 6px;
		float: left;
		margin-bottom: 10px;
		-moz-box-shadow: 0 0 6px #111; 
		-webkit-box-shadow: 0 0 6px #111; 
		box-shadow: 0 0 6px #111;
	}
	
	.ratingStar{
		width: 12px;
		float: left;
		margin: 1px 1px 0 0;
	}
	
	.ratingStar:last-child{
		margin: 1px 5px 0 0;
	}
	
	.ratingStarsContainer{
		padding: 5px 0 5px 0;
		clear: both;
	}
	
	.mediaDetailValueprice{
		color: #ff760e;
		font-weight: bold;
	}
	
	#hoverWindow{
		display: none;
		margin: 0;
		border: 1px solid #000;
		position: absolute;
		z-index: 1200;
		/*background-color: rgba(51,51,51,.95);*/
		background-color: #EEE;
		border: 1px solid  #CCC;
		color: #FFF;
		overflow: visible;
		/*
		min-width: 361px;
		min-height: 361px;
		*/
		-moz-box-shadow: 0 0 18px #000; 
		-webkit-box-shadow: 0 0 18px #000;     
		box-shadow: 0 0 18px #000;
		/* For IE 8 */ 
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000')";   
		/* For IE 5.5 - 7 */     
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000');
		font-size: 12px;
		line-height: 0;
	}
	
	#hoverWindow .hoverMediaContainer{
		margin: 10px 10px 0 10px;
	}
	
	.hoverWindowLoader{
		margin: 10px;
	}
	
	.mediaThumbContainer .hoverThumb{
		margin: 0;
	}

/* LEFT NAV */
	#galleryPicker{
		/*height: 40px;*/
		margin-right: 14px;
		background-color: #e3e3e3;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 14px;
		/*
		-moz-border-radius-topright:14px; 
		-moz-border-radius-bottomright:14px;
		-webkit-border-top-right-radius:14px;
		-webkit-border-bottom-right-radius:14px;
		border-top-right-radius:14px;
		border-bottom-right-radius:14px;
		*/
		color: #666;
		padding-left: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 3;
	}
	
	#galleryPicker a{
		color: #666;
	}
	
	#galleryPicker img{
		float: right;
		margin-top: 15px;
		margin-right: 15px;
		cursor: pointer;
	}
	
	#galleryList{
		line-height: 1.5;
		font-size: 11px;
		display: none;
		background-color: #FFF;
		position: absolute;
		z-index: 999;
		margin-top: 50px;
		margin-left: 14px;
		padding: 15px;
		color: #999;
		border: 1px solid #EEE;
		font-size: 12px;
		-moz-box-shadow: 2px 2px 8px #DDD; 
		-webkit-box-shadow: 2px 2px 8px #DDD;     
		box-shadow: 2px 2px 8px #DDD;
		min-width: 270px;
		max-height: 800px;
		overflow: auto;
	}

/* HOMEPAGE NEWS */
	#featuredNews{
		position: relative;
		background-color: #EEE;
		padding: 20px 20px 10px 20px;
		font-size: 12px;
	}
	
	#featuredNews .divTable{
		
	}
	
	#featuredNews .divTableCell{
		padding-bottom: 10px;
	}
	
	#featuredNews .divTableCell:first-child{
		color: #666;
	}
	
	#featuredNews .divTableRow .divTableCell:nth-child(2){
		text-align: center;
		width: 20px;
	}
	
	#featuredNews .divTableCell a{
		color: #000;
		text-decoration: none;
		font-weight: bold;
	}
	
	#featuredNews .divTableCell a:hover{
		color: #000;
		text-decoration: underline;
	}
	
	#homepageNewsRSS{
		float: right;
		position: absolute;
		right: 0;
		top: 4px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
	}
	
	.rssH1Icon{
		float: right;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
	}
	
	.rssPageH1Icon{
		margin-top: 8px;	
	}
	
	.moreNews{
		float: right;
		margin-right: 46px;
		position: absolute;
		right: 4px;
		top: 4px;
	}
	
	.moreNews a{
		color: #666;
		font-weight: normal;
		text-decoration: none;
	}
	
	.moreNews a:hover{
		color: #333;
	}
	
	.moreNews img{
		vertical-align: middle;
	}
	
/* SUBNAV */
	.cbSubnav > div{
		padding: 0 20px 20px 15px;
	}
	
	.subNavFeaturedBox, .subNavStatsBox{
		border-bottom: 6px solid #FFF;	
		overflow: auto;
		position: relative;
	}
	
	.subNavFeaturedBox .divTableRow:hover{
		background-color: #FFF;
		cursor: pointer;
	}
	
	.subNavFeaturedBox .divTableRow:hover .featuredDescription{
		color: #333;
	}
	
	.subNavFeaturedBox .divTableRow:hover a{
		color: #666;
	}
	
	.subNavFeaturedBox h1,.subNavStatsBox h1{
		color: #666;
		font-weight: bold;
		font-size: 14px;
		padding-left: 15px;
		margin: 20px 0 10px 0;
	}
	
	.subNavFeaturedBox .divTable{
		/*margin: 0 30px 10px 30px;*/
		width: 100%;
	}
	
	.subNavStatsBox .divTable{
		margin: 0 0 20px 15px;
	}
	
	.subNavFeaturedBox .divTableCell:nth-child(2){
		padding: 10px 10px 10px 15px;
		vertical-align: middle;
		width: 100%;
	}
	
	.subNavFeaturedBox .divTableRow:hover .divTableCell:nth-child(2){
		-moz-box-shadow: inset -5px 0 #0e5380;
		-webkit-box-shadow: inset -5px 0 #0e5380;
		box-shadow: inset -5px 0 #0e5380;
	}
	
	.subNavFeaturedBox .divTableCell:first-child{
		text-align: center;
	}
	
	.subNavFeaturedBox .divTable img{
		margin: 10px 0 10px 15px;
		/*border: 2px solid #CCC;*/
		-moz-box-shadow: 0 0 4px #CCC; 
		-webkit-box-shadow: 0 0 4px #CCC;     
		box-shadow: 0 0 4px #CCC;
	}
	
	.subNavFeaturedBox .divTable a{
		color: #999;
		text-decoration: none;
		font-size: 12px;
		font-weight: bold;
	}
	
	.subNavFeaturedBox .divTable a:hover{
		text-decoration: underline
	}
	
	.subNavFeaturedBox .price, .price{
		color: #ff760e;
		font-size: 12px;
		font-weight: bold;
	}
	
	.priceAlt{
		color: #FF3333;
		font-size: 12px;
		font-weight: bold;
	}
	
	.credits{
		font-size: 11px;
		color: #777;
	}
	
	.price sup{
		font-size: 10px;
		font-weight: normal;
	}
		
	.subNavFeaturedBox .featuredDescription{
		font-weight: normal;
		font-size: 11px;
		color: #666;
		margin-bottom: 4px;
	}
	
	.subNavFeaturedBox .featuredPrice{
		text-align: left;
	}
	
	.featuredBoxMore{
		clear: both;
		float: right;
		margin: 0 25px 15px 0;
		font-size: 11px;
		font-weight: bold;
	}
	
	.featuredBoxMore a, .colorLink{
		color: #47abe5;
		text-decoration: none;
	}
	
	.featuredBoxMore a:hover, .colorLink:hover{
		color: #47abe5;
		text-decoration: underline;
	}
	
	#customPages{
		margin: 15px 0 20px 15px;
		line-height: 1.5;
		list-style-type: square;
		color: #999;
	}
	
	#customPages li{
		list-style-position: inside;
	}
	
	#customPages a{
		text-decoration: none;
	}
	
	#customPages a:hover{
		text-decoration: underline;
	}
	
	#subNavOnlineMembers{
		overflow: auto;	
		padding-bottom: 20px;
	}
	
	#subNavOnlineMembers ul{
		margin: 20px 10px 10px 15px;	
		color: #EEE;
		font-size: 11px;
	}
	
	#subNavOnlineMembers .time{
		color: #999;
	}
	
	#subNavStats .divTableCell{
		text-align: left;
		padding: 5px 20px 5px 0;
	}
	
	#subNavStats .divTableRow .divTableCell:first-child{
		color: #999;
	}
	
	#subNavStats h1, #subNavOnlineMembers h1, #subNavContributors h1{
		margin-left: 38px;
	}
	
	.fbHero{
		width: 30px;
		position: absolute;
		left: 15px;
		top: 10px;
	}

/* SEARCH */
	.searchOptionsColumn{
		
	}
	
	.searchMatchTerms{
		float: right;
		margin-top: 5px;
		font-size: 11px;
		color: #999;
	}
	
	.searchMatchTerms input[type="checkbox"]{
		margin-top: -3px;
		vertical-align: middle;
	}
	
	.searchDate select{
		width: 84px;
		background-color: #EEE;
		border: 0;
		color: #666
	}
	
	.searchDate p{
		padding-top: 8px;
		padding-bottom: 4px;
		color: #777;
		font-size: 11px;
		font-weight: bold;
	}
	
	.searchTagList{
		margin-top: 20px;
	}
	
	.searchTagList li{
		float: left;
		width: 20%;
	}
	
	.searchTagCount{
		color: #999;
		font-size: 10px
	}
	
	.searchOptionsColumn h1{
		color: #999;
		font-weight: bold;
		font-size: 14px;
		padding-left: 15px;
		margin: 20px 0 10px 0;
	}
	
	.searchOptionsColumn h2{
		margin-top: 20px; 
		margin-bottom: 20px; 
		border-bottom: 1px solid #CCC; 
		padding-bottom: 10px; 
		color: #888
	}
	
	.colorSearchSpan{
		color: #FFF;
		font-size: 10px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	
	.currentSearchBox{
		border: 4px solid #CCC; 
		background-color: #f5f3f3; 
		padding: 20px;
		line-height: 1.2;
	}
	
	.currentSearchBox > ul > li{
		margin-bottom: 18px;
		padding-right: 14px;
	}
	
	.currentSearchBox > ul > li:last-child{
		padding-right: 0;
		margin-bottom: -10px;
		padding-bottom: 0;
		margin-right: -10px;
		text-align: right;
	}
	
	.keywordQueries li{
		margin-bottom: 4px;
	}
	
	.searchCloseButton{
		float: right;
		margin-top: 2px;
		margin-right: -14px;
		opacity:0.7;
		filter:alpha(opacity=70);
	}
	
	.searchCloseButton:hover{
		opacity:1;
		filter:alpha(opacity=100);
	}
	
	.currentSearchBox span.searchConnector{
		font-weight: bold;
	}
	
	.currentSearchBox span{
		color: #999;
	}
	

/* MEMBERS AREA */
	#memberNav ul{
		margin: 20px;
	}
	
	#memberNav ul li{
		margin-bottom: 10px;
	}
	
	.ticketUpdated{
		color: #999	
	}
	
	.ticketUpdated span{
		color: #EEE;
		font-weight: bold;
	}
	
	.ticketMessage0, .ticketMessage1{
		margin-bottom: 10px;
		background-color: #EEE;
		padding: 20px;
		overflow: auto;
	}
	
	.ticketMessage1{
		background-color: #000;	
	}
	
	.messageDetails{
		float: right;
		padding: 8px;
		background-color: #818181;
		margin: -10px -10px 0 0;
		color: #EEE;
	}
	
	.highlightValue{
		color: #FF3333;
		font-weight: bold;
	}
	
	.subNavFeaturedBox .memberAvatar{
		margin-right: 20px;
		float: left;
	}
	
	.memberAvatar{
		border: 3px solid #FFF;
		-moz-box-shadow: 2px 2px 4px #000; 
		-webkit-box-shadow: 2px 2px 4px #000;     
		box-shadow: 2px 2px 4px #000;
	}
	
	.accountInfoList .infoHeader{
		color: #999;
		font-size: 14px;
		font-weight: bold;
		padding-left: 0;
	}
	
	.accountInfoList{
		border-bottom: 1px solid #333;
		margin: 10px 0 20px 0;
	}
	
	.accountInfoList li{
		margin-bottom: 10px;
		padding-left: 20px;
	}
	
	.accountInfoList .editLink{
		text-align: right;	
	}
	
	.dataTable{
		width: 100%;
		/*border: 1px solid #333;*/
	}
	
	.dataTable th{
		background-color: #0E5380;
		font-weight: bold;
		color: #FFF;
		padding: 10px;
		text-align: left;
	}
	
	.dataTable td{
		padding: 10px;
		vertical-align: middle;
	}
	
	.dataTable tr:nth-child(odd){
		background-color: #FFF;
	}
	
	.dataTable tr:nth-child(even){
		background-color: #EEE;
	}
	
	#editWorkbox{
		padding: 20px;	
	}
	
	#editWorkbox .dimMessage{
		margin: 10px 30px 0 30px;
		color: #999;
	}
	
	#editWorkbox .dimMessage a{
		color: #999;
	}
	
	#editWorkbox .divTable{
		margin: 30px 30px 40px 30px;	
	}
	
	#editWorkbox input[type="text"]{
		min-width: 250px;
	}
	
	.formError{
		background-color: #350606;
	}
	
	input[type="text"].formError{
		border: 1px solid #8d0101;
		background-color: #4d0303;
		color: #FFF;
	}
	
	input[type="password"].formError{
		border: 1px solid #8d0101;
		background-color: #4d0303;
		color: #FFF;
	}
	
	input[type="checkbox"].formError, input[type="radio"].formError{
		border: 2px solid #8d0101;
		background-color: #4d0303;
		color: #4d0303;
	}
	
	select.formError{
		border: 1px solid #8d0101;
		background-color: #4d0303;
		color: #FFF;
	}
	
	.formErrorMessage{
		color: #FF3333;
		font-weight: bold;
		display: inline;
		padding-left: 10px;
		padding-top: 6px;
	}
	
	#packageNotice{
		overflow: auto;
		padding: 13px 0 7px 25px;
		background-color: #0e5380;
		display: none;
		color: #FFF;
	}
	
	#packagesInCartDD{
		float: left;
		cursor: pointer;
	}
	
	#packagesInCartDD .newPackageLangBox{
		padding: 6px 10px 8px 10px;
		background-color: #2e78a7;
		margin-left: 5px;
		margin-top: -5px;
	}
	
	#packagesInCartDD:hover ul{
		display: block;
	}
	
	#packagesInCartDD ul{
		display: none;
		position: absolute;
		background-color: #2e78a7;
		margin-left: 5px;
	}
	
	#packagesInCartDD ul li{
		padding: 6px 16px 6px 16px;
		white-space: nowrap;
		overflow: auto;
	}
	
	#packagesInCartDD ul li div{
		float: right;
		margin-left: 6px;
	}
	
	#packagesInCartDD ul li div div{
		background-color: #515151;
	}	
	
	#packagesInCartDD ul li:hover{
		background-color: #3888ba;
		cursor: pointer;
	}

/* CREATE ACCOUNT */

	h1.infoHeader{
		border-top: 1px solid #333;
		border-bottom: none;
		color: #999;
		font-size: 14px;
		font-weight: bold;
		padding-left: 0;
		padding-top: 10px;
		margin-top: 20px;
		margin-bottom: 6px;
	}
	
	#createAccountForm input[type="submit"]{
		float: right;
	}
	
	#createAccountForm .formFieldLabel, #shippingAddressesForm .formFieldLabel{
		width: 100px;
	}
	
	
	#createAccountForm .divTable{
		margin-left: 20px;
		width: 100%;
	}
	
	#createAccountForm input[type="text"], #createAccountForm input[type="password"], #shippingAddressesForm input[type="text"]{
		min-width: 292px;
	}
	
	.membershipList{
		width: 420px;
		margin-left: 128px;
	}
	
	.membershipList input[type="radio"]{
		margin: 0 6px 0 0;
	}
	
	.membershipWorkbox{
		font-weight: normal;
	}
	
	.membershipList li{		
		background-color: #EEE;
		margin-bottom: 5px;
		padding: 20px;
	}
	
	.membershipList li label{		
		font-size: 13px;
		font-weight: bold;
	}
	
	.membershipDetails{
		padding-left: 18px;
		color: #666;
		font-style: italic;
		font-weight: normal;
	}
	
	.membershipPriceDetails{
		margin-left: 18px;
		color: #333;
		margin-top: 6px;
		font-weight: normal;
	}
	
/* CAPTCHA */
	#recaptcha_widget{
		padding-top: 4px;
	}
	
	#recaptcha_widget #recaptcha_response_field{
		margin-top: 4px;
	}
	
	#recaptcha_widget .captchaTools{
		overflow: auto;	
	}
	
	#recaptcha_widget .captchaTools div{
		float: left;
	}
	
	.captchaTools{
		width: 300px;
	}
	
	#recaptcha_widget .captchaTools div.captchaPoweredBy{
		color: #666;
		float: right;	
	}
	
	.captchaTools .captchaPoweredBy a{
		color: #999;	
	}

/* STATUS HIGHLIGHTS */
	.highlightValue_paid, .highlightValue_processing, .highlightValue_approved, .highlightValue_active{
		color: #0fa692;
		font-weight: bold;
	}
	
	.highlightValue_unpaid,.highlightValue_failed,.highlightValue_expired{
		color: #FF3333;
		font-weight: bold;
	}
	
	.highlightValue_billLater{
		color: #777;
		font-weight: bold;
	}
	
	.highlightValue_refunded,.highlightValue_cancelled{
		color: #777;
		font-weight: bold;
	}

/* FOOTER */
	.cbFooter{
		background-color: #EEE;	
		padding: 20px;
		color: #666;
	}
	
	#footer{
		margin: 30px 0 20px 0;
		font-size: 12px;
		color: #FFF;
		line-height: 2;
		border-top: 1px solid #797979;
		padding-top: 14px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 14px;
		background-color: #0e5380;
	}
	
	#footer a{
		color: #E1E1E1;
		text-decoration: none;
	}
	
	#footer a:hover{
		color: #FFF;
		text-decoration: underline;
	}
	
	#poweredBy{
		float: right;
		text-align: right;
		line-height: 1.1;
		margin-top: 4px;
		color: #FFF;
	}
	
	#poweredBy a.photostoreLink{
		font-weight: bold;
		color: #FFF; /*33ccff*/
	}
	
	#poweredBy .sellPhotos{
		font-size: 11px;
		font-style: italic;
		color: #EEE;
	}
	
/* CUSTOM SCROLLBAR */

	.jspContainer{
		overflow: hidden;
		position: relative;
	}
	
	.jspPane{
		position: absolute;
	}
	
	.jspVerticalBar{
		position: absolute;
		top: 0;
		right: 0;
		width: 10px;
		height: 100%;
		background: red;
	}
	
	.jspHorizontalBar{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 16px;
		background: red;
	}
	
	.jspVerticalBar *,
	.jspHorizontalBar *{
		margin: 0;
		padding: 0;
	}
	
	.jspCap{
		display: none;
	}
	
	.jspHorizontalBar .jspCap{
		float: left;
	}
	
	.jspTrack{
		background: #EEE;
		position: relative;
	}
	
	.jspDrag{
		background: #666;
		position: relative;
		top: 0;
		left: 0;
		cursor: pointer;
	}
	
	.jspHorizontalBar .jspTrack,
	.jspHorizontalBar .jspDrag{
		float: left;
		height: 100%;
	}
	
	.jspArrow{
		background: #50506d;
		text-indent: -20000px;
		display: block;
		cursor: pointer;
	}
	
	.jspArrow.jspDisabled{
		cursor: default;
		background: #80808d;
	}
	
	.jspVerticalBar .jspArrow{
		height: 16px;
	}
	
	.jspHorizontalBar .jspArrow{
		width: 16px;
		float: left;
		height: 100%;
	}
	
	.jspVerticalBar .jspArrow:focus{
		outline: none;
	}
	
	.jspCorner{
		background: #eeeef4;
		float: left;
		height: 100%;
	}
	
	/* Yuk! CSS Hack for IE6 3 pixel bug :( */
	* html .jspCorner{
		margin: 0 -3px 0 0;
	}

/* ORDER DETAILS */
	.messageBox{
		padding: 20px; 
		background-color: #FFC; 
		color: #333;
	}
	
	.messageBox img{
		float: left; 
		margin-right: 4px; 
		margin-bottom: 4px; 
		margin-top: -3px;
	}
	
	.orderDetailsHeader{
		background-color: #EEE;
		font-weight: bold;
		color: #333;
		font-size: 14px;
		padding: 10px;
		line-height: 1.3;
		margin-bottom: 4px;
	}
	
	.orderDetailsBoxes{		
		float: left;
		overflow: auto;
	}
	
	.orderDetailsBoxes .cartTotalList{
		font-size: 12px;	
	}
	
	.orderDetailsBoxes > div{
		background-color: #EEE;
		height: 200px;
		padding: 20px;
		margin-right: 4px;
		color: #666
	}
	
	.orderDetailsBoxes h1{
		margin-bottom: 10px;
		color: #333;
	}
	
	.orderDetailsBoxesContainer{
		clear: both;
		overflow: auto;
	}
	
	.orderDetailsBoxesContainer .orderDetailsBoxes:last-child > div{
		margin-right: 0;
	}
	
	.collectionDownloadList .divTableRow:nth-child(even){
		background-color: #3d3d3d;	
	}
	
	.collectionDownloadList .divTableRow:nth-child(odd){
		background-color: #3a3a3a;	
	}
	
	.collectionDownloadList .divTableRow .actionsRow{
		border-left: none;	
	}
	

/* DEBUGGER */
	.debug{
		border: 2px solid #000;
		background-color: #fff9d3;
		padding: 10px;
		color: #333;
		max-height: 300px;
		overflow: auto;
		margin: 6px;
	}
	
	.debug h1{
		border-bottom: 1px solid #333;
		font-size: 14px;
		font-weight: bold;
		padding: 6px 0 6px 0;
		margin: 0 0 10px 0;
	}
	
	.debug li{
		margin-bottom: 4px;
	}
	
	.debug ul li ul li{
		margin: 0 0 0 15px;
	}
	
/* COLOR PICKER */
	.colorpicker {
		width: 356px;
		height: 176px;
		overflow: hidden;
		position: absolute;
		background: url(./images/colorpicker/colorpicker_background.png);
		font-family: Arial, Helvetica, sans-serif;
		display: none;
	}
	.colorpicker_color {
		width: 150px;
		height: 150px;
		left: 14px;
		top: 13px;
		position: absolute;
		background: #f00;
		overflow: hidden;
		cursor: crosshair;
	}
	.colorpicker_color div {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		height: 150px;
		background: url(./images/colorpicker/colorpicker_overlay.png);
	}
	.colorpicker_color div div {
		position: absolute;
		top: 0;
		left: 0;
		width: 11px;
		height: 11px;
		overflow: hidden;
		background: url(./images/colorpicker/colorpicker_select.gif);
		margin: -5px 0 0 -5px;
	}
	.colorpicker_hue {
		position: absolute;
		top: 13px;
		left: 171px;
		width: 35px;
		height: 150px;
		cursor: n-resize;
	}
	.colorpicker_hue div {
		position: absolute;
		width: 35px;
		height: 9px;
		overflow: hidden;
		background: url(./images/colorpicker/colorpicker_indic.gif) left top;
		margin: -4px 0 0 0;
		left: 0px;
	}
	.colorpicker_new_color {
		position: absolute;
		width: 60px;
		height: 30px;
		left: 213px;
		top: 13px;
		background: #f00;
	}
	.colorpicker_current_color {
		position: absolute;
		width: 60px;
		height: 30px;
		left: 283px;
		top: 13px;
		background: #f00;
	}
	.colorpicker input {
		background-color: transparent;
		border: 1px solid transparent;
		position: absolute;
		font-size: 10px;
		font-family: Arial, Helvetica, sans-serif;
		color: #898989;
		top: 4px;
		right: 11px;
		text-align: right;
		margin: 0;
		padding: 0;
		height: 11px;
	}
	.colorpicker_hex {
		position: absolute;
		width: 72px;
		height: 22px;
		background: url(./images/colorpicker/colorpicker_hex.png) top;
		left: 212px;
		top: 142px;
	}
	.colorpicker_hex input {
		right: 6px;
	}
	.colorpicker_field {
		height: 22px;
		width: 62px;
		background-position: top;
		position: absolute;
	}
	.colorpicker_field span {
		position: absolute;
		width: 12px;
		height: 22px;
		overflow: hidden;
		top: 0;
		right: 0;
		cursor: n-resize;
	}
	.colorpicker_rgb_r {
		background-image: url(./images/colorpicker/colorpicker_rgb_r.png);
		top: 52px;
		left: 212px;
	}
	.colorpicker_rgb_g {
		background-image: url(./images/colorpicker/colorpicker_rgb_g.png);
		top: 82px;
		left: 212px;
	}
	.colorpicker_rgb_b {
		background-image: url(./images/colorpicker/colorpicker_rgb_b.png);
		top: 112px;
		left: 212px;
	}
	.colorpicker_hsb_h {
		background-image: url(./images/colorpicker/colorpicker_hsb_h.png);
		top: 52px;
		left: 282px;
	}
	.colorpicker_hsb_s {
		background-image: url(./images/colorpicker/colorpicker_hsb_s.png);
		top: 82px;
		left: 282px;
	}
	.colorpicker_hsb_b {
		background-image: url(./images/colorpicker/colorpicker_hsb_b.png);
		top: 112px;
		left: 282px;
	}
	.colorpicker_submit {
		position: absolute;
		width: 22px;
		height: 22px;
		background: url(./images/colorpicker/colorpicker_submit.png) top;
		left: 322px;
		top: 142px;
		overflow: hidden;
	}
	.colorpicker_focus {
		background-position: center;
	}
	.colorpicker_hex.colorpicker_focus {
		background-position: bottom;
	}
	.colorpicker_submit.colorpicker_focus {
		background-position: bottom;
	}
	.colorpicker_slider {
		background-position: bottom;
	}
	
	#colorpickerHolder{
		top: 0;
		left: 0;
		width: 30px;
		height: 30px;
		background: url(./images/colorpicker/x.png);
		background-color: #FFF;
		float: left;
	}
	
	#colorpickerHolder div {
		top: 0px;
		left: 0px;
		width: 30px;
		height: 30px;
		background: url(./images/colorpicker/select2.png) center;
	}
	
/* RM Pricing */
	#rmPricingCalculator{
		border: 1px solid #333;
		padding: 10px;
		background-color: #F9F9F9;
		margin-top: 20px;
	}
	
	.rmContainer{
		margin-bottom: 5px;
		border-top: 1px dashed #333;
		padding-top: 4px;
	}
	
	.rmContainer table tr td:first-child{
		width: 100px;
		text-align: right;
		padding: 5px;
	}
	
	.rmContainer table tr td:last-child{
		text-align: left;
		padding: 5px;
	}
	
	.rmContainer select{
		width: 350px;
	}
	
	
/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

	.jstree-default li, .jstree-default ins {
		background-image:url("./images/tree.png");
		background-repeat:no-repeat;
		background-color:transparent;
	}
	
	.jstree-default li{
		/* padding: 2px 0 2px 0; */
		background-position:-90px 0;
		background-repeat:repeat-y;
	}
	
	.jstree-default li a{
		color: #666;
		font-size: 12px;
	}
	
	.jstree-default li a:hover{
		color: #333;
		text-decoration: underline;
	}
	
	.jstree .locked { background-color: #FFF; background: url("./images/lock.png") no-repeat top left !important; }
	
	.jstree-default li.jstree-last { background:transparent; }
	.jstree-default .jstree-open > ins { background-position:-72px 0; }
	.jstree-default .jstree-closed > ins { background-position:-54px 0; }
	.jstree-default .jstree-leaf > ins { background-position:-36px 0; }
	
	.jstree-default .jstree-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
	.jstree-default .jstree-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
	.jstree-default a .jstree-icon { background-position:-56px -19px; }
	.jstree-default a.jstree-loading .jstree-icon { background:url("./images/loader3.gif") center center no-repeat !important; }
	
	.jstree-default.jstree-focused { background:transparent; }
	
	.jstree-default .jstree-no-dots li, 
	.jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
	.jstree-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
	.jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }
	
	.jstree-default .jstree-no-icons a .jstree-icon { display:none; }
	
	.jstree-default .jstree-search { font-style:italic; }
	
	.jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
	.jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
	.jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
	.jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
	.jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
	.jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
	.jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
	.jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }
	
	.jstree-default a.jstree-search { color:aqua; }
	.jstree-default .jstree-locked a { color:silver; cursor:default; }
	
	/* IE6 BEGIN */
	.jstree-default li, 
	.jstree-default ins,
	.jstree-default .jstree-open ins { _background-position:-72px 0; }
	.jstree-default .jstree-closed ins { _background-position:-54px 0; }
	.jstree-default .jstree-leaf ins { _background-position:-36px 0; }
	.jstree-default a ins.jstree-icon { _background-position:-56px -19px; }
	.jstree-default .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
	.jstree-default .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
	.jstree-default .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
	/* IE6 END */
	
/* FOTOMOTO */
.FotomotoToolbarClass{
	margin: 0 !important;
	clear: both;
	float: left;
}

.FotomotoToolbarClass ul{
	padding: 5px 2px 7px 5px !important;	
	background-image: url('./images/fotomoto.png');
	overflow: auto;
	background-repeat: no-repeat;
	background-color: #000;
	background-position: 10px 12px;
}

.FotomotoToolbarClass ul li{
	float: right !important;
	border: 1px solid #666;
	background-color: #333;
	padding: 5px !important;
	margin-right: 3px !important;
	font-size: 12px;
}

.FotomotoToolbarClass ul li a{
	color: #FFF;
}

.FotomotoToolbarClass .FotomotoSeparator{
	display: none;
}

.mediaContainer .FotomotoToolbarClass ul{
	background-image: url('./images/fotomoto2.png');
	padding: 20px 2px 7px 5px !important;
	background-position: 5px 5px !important;
}

.mediaContainer .FotomotoToolbarClass ul li{
	float: left !important;
	margin-bottom: 2px;
}

.mediaContainer .FotomotoToolbarClass{
	margin-left: 4px !important;	
}