<!DOCTYPE HTML>
<html>
<head>
	{include file='head.tpl'}
</head>
<body>
	<div id="container">
		{include file='header.tpl'}
		<div class="contentContainer">
			<div class="content">
				<p class="notice">{$lang.noAccess}</p>
			</div>
		</div>
		{include file='footer.tpl'}
    </div>
</body>
</html>