@import variables
@import functions
@import partials
@font-face
  font-family: bebasneuebook
  src: url(fonts/bebasneuebook-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/bebasneuebook-webfont.woff) format("woff"), url(fonts/bebasneuebook-webfont.ttf) format("truetype"), url(fonts/bebasneuebook-webfont.svg#bebasneuebook-webfont) format("svg")
  font-weight: 400
  font-style: normal


@font-face
  font-family: bebasneuelight
  src: url(fonts/bebasneuelight-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/bebasneuelight-webfont.woff) format("woff"), url(fonts/bebasneuelight-webfont.ttf) format("truetype"), url(fonts/bebasneuelight-webfont.svg#bebasneuelight-webfont) format("svg")
  font-weight: 400
  font-style: normal


@font-face
  font-family: bebasneueregular
  src: url(fonts/bebasneueregular-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/bebasneueregular-webfont.woff) format("woff"), url(fonts/bebasneueregular-webfont.ttf) format("truetype"), url(fonts/bebasneueregular-webfont.svg#bebasneueregular-webfont) format("svg")
  font-weight: 400
  font-style: normal


@font-face
  font-family: bebasneuebook
  src: url(fonts/bebasneuethin-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/bebasneuethin-webfont.woff) format("woff"), url(fonts/bebasneuethin-webfont.ttf) format("truetype"), url(fonts/bebasneuethin-webfont.svg#bebasneuethin-webfont) format("svg")
  font-weight: 400
  font-style: normal


@font-face
  font-family: bebasneue
  src: url(fonts/bebasneue-webfont.eot?#iefix) format("embedded-opentype"), url(fonts/bebasneue-webfont.woff) format("woff"), url(fonts/bebasneue-webfont.ttf) format("truetype"), url(fonts/bebasneue-webfont.svg#bebasneue-webfont) format("svg")
  font-weight: 400
  font-style: normal


font-face
  font-family: proxima_nova_rgregular
  src: url(fonts/proxima_nova_regular-webfont.woff2) format("woff2"), url(fonts/proxima_nova_regular-webfont.woff) format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: proxima-nova-bold
  src: url(fonts/proxima-nova-bold.ttf) format("ttf")


@font-face
  font-family: proxima_novabold_italic
  src: url(fonts/poxima_nova/proxima_nova_bold_it-webfont.woff2) format("woff2"), url(fonts/poxima_nova/proxima_nova_bold_it-webfont.woff) format("woff")
  font-weight: 400
  font-style: normal


@font-face
  font-family: proxima_novalight_italic
  src: url(fonts/poxima_nova/proxima_nova_light_it-webfont.woff2) format("woff2"), url(fonts/poxima_nova/proxima_nova_light_it-webfont.woff) format("woff")
  font-weight: 400
  font-style: normal


@font-face
  font-family: proxima_novalight
  src: url(fonts/poxima_nova/proxima_nova_light-webfont.woff2) format("woff2"), url(fonts/poxima_nova/proxima_nova_light-webfont.woff) format("woff")
  font-weight: 400
  font-style: normal


@font-face
  font-family: proxima_novabold
  src: url(fonts/poxima_nova/proxima-nova-bold-webfont.woff2) format("woff2"), url(fonts/poxima_nova/proxima-nova-bold-webfont.woff) format("woff")
  font-weight: 400
  font-style: normal


@font-face
  font-family: proxima_novaextrabold
  src: url(fonts/poxima_nova/proxima-nova-extrabold-webfont.woff2) format("woff2"), url(fonts/poxima_nova/proxima-nova-extrabold-webfont.woff) format("woff")
  font-weight: 400
  font-style: normal


@font-face
  font-family: pacifico-regular
  src: url(fonts/pacifico-regular-webfont.woff2) format("woff2"), url(fonts/pacifico-regular-webfont.woff) format("woff")
  font-weight: 400
  font-style: normal


.hidden
  display: none

h2
  color: #fff
  font-size: 15px
  text-transform: uppercase
  font-weight: 700
  margin: 0

.clear
  display: block
  margin: 0
  padding: 0
  width: 100%
  clear: both

#header-home
  .navbar-piksel
    background-color: transparent
    border: none
    -webkit-transition: all .2s ease-Out
    -o-transition: all .2s ease-Out
    -moz-transition: all .2s ease-Out
    transition: all .2s ease-Out
    .logo img
      margin-top: 34px
    ul
      > li
        font-size: 20px
        font-family: bebasneue,sans-serif
        color: #f88a3b
        text-transform: uppercase
        &:before
          content: '\2022'
          font-size: 15px
          display: inline-block
        a
          padding: 55px 25px
          display: inline-block
          color: #f88a3b
      li#user-log
        position: relative
        a
          padding: 55px 25px 0
        &:hover ul#user-options
          display: block
      &#user-options
        display: none
        position: absolute
        background: #f8f8f8
        border: 1px solid #cecece
        padding: 10px 5px
        left: 30px
        li
          &:before
            display: none
          a
            padding: 5px 10px !important
            color: #5d5d5d
            font-family: 'Open Sans',sans-serif
            font-size: 12px
            text-transform: initial
  .scrolled
    background-color: #f8f8f8
    border-color: #e7e7e7
  .top-header
    background: #f7f7f7
    position: absolute
    top: 0
    right: 0
    #carrito-header
      display: inline-block
    .navbar-nav
      a
        color: #000
        font-family: 'Open Sans',sans-serif
        font-size: 12px
        text-transform: none
        font-weight: 700
        padding: 0
      li
        &:after, &:before
          display: none

@media only screen and (max-width: 768px)
  #header-home .navbar-piksel
    background-color: #f8f8f8
    border-color: #e7e7e7
    button
      margin-top: 20px
      border: none
      span.icon-bar
        background: #000
        transition: all .4s linear
        opacity: 1
      &.opened span.icon-bar
        &:nth-child(2)
          transform: rotate(45deg)
          margin: 0
          top: 4px
          position: relative
        &:nth-child(3)
          opacity: 0
        &:last-child
          transform: rotate(-45deg)
          margin: 0
          top: -4px
          position: relative
    .row
      margin: 0
    .logo img
      width: 40%
      margin-left: 15px
      margin-top: 10px
      margin-bottom: 10px
    ul li
      border-bottom: 1px solid
      padding: 5px
      &:before, &:last-child:after
        display: none
      a
        padding: 0

#header
  background: #f9f9f9
  .wrapper-cart-interna
    margin-top: 140px
  .navbar-piksel
    background-color: #fff
    border: none
    -webkit-box-shadow: 0 10px 5px -3px rgba(0, 0, 0, 0.2)
    -moz-box-shadow: 0 10px 5px -3px rgba(0, 0, 0, 0.2)
    box-shadow: 0 10px 5px -3px rgba(0, 0, 0, 0.2)
    -webkit-transition: all .2s ease-Out
    -o-transition: all .2s ease-Out
    -moz-transition: all .2s ease-Out
    transition: all .2s ease-Out
    .logo img
      margin-top: 34px
    ul > li
      font-size: 20px
      font-family: bebasneue,sans-serif
      color: #f88a3b
      text-transform: uppercase
  .cart-currency a, .navbar-piksel ul#user-options li a
    font-family: 'Open Sans',sans-serif

.wrapper-header2 .input-wrapper input
  font-family: 'Open Sans',sans-serif

#header
  .navbar-piksel ul
    > li
      &:before
        content: '\2022'
        font-size: 15px
        display: inline-block
      a
        padding: 55px 25px
        display: inline-block
        color: #f88a3b
    li#user-log
      position: relative
      a
        padding: 55px 25px 0
      &:hover ul#user-options
        display: block
    &#user-options
      display: none
      position: absolute
      background: #f8f8f8
      border: 1px solid #cecece
      padding: 10px 5px
      left: 30px
      li
        &:before
          display: none
        a
          padding: 5px 10px !important
          color: #5d5d5d
          font-size: 12px
          text-transform: initial
  .search-wrapper
    padding: 0
    form
      padding: 0
  .input-wrapper input
    width: 70%
    border: none
    border-radius: 0
    padding: 20px
    background-size: 39px 30px
    background-repeat: no-repeat
    background-position: 96%
    background-image: url(../img/search.png)
  .cart-currency
    li:before
      display: none !important
    a
      font-size: 13px
      font-weight: 700
      color: #272a2b !important
      padding: 0 !important
    .caret
      border-top-color: #f88a3b
      border-bottom-color: #f88a3b

@media only screen and (max-width: 768px)
  #header .navbar-piksel
    button
      margin-top: 20px
      border: none
      span.icon-bar
        background: #000
        transition: all .4s linear
        opacity: 1
      &.opened span.icon-bar
        &:nth-child(2)
          transform: rotate(45deg)
          margin: 0
          top: 4px
          position: relative
        &:nth-child(3)
          opacity: 0
        &:last-child
          transform: rotate(-45deg)
          margin: 0
          top: -4px
          position: relative
    .row
      margin: 0
    .logo img
      width: 40%
      margin-left: 15px
      margin-top: 10px
      margin-bottom: 10px
    ul li
      border-bottom: 1px solid
      padding: 5px
      &:before, &:last-child:after
        display: none
      a
        padding: 0

.wrapper-header2
  height: 480px
  width: 100%
  background: url(../img/background-search.jpg) no-repeat
  background-size: cover
  text-align: center
  .input-wrapper input
    font-style: italic
    width: 100%
    border: none
    border-radius: 0
    padding: 20px 46px 20px 20px
    background-size: 39px 30px
    background-repeat: no-repeat
    background-position: 96%
    background-image: url(../img/search.png)
  .white-screen
    position: relative
    display: block
    height: 100%
    width: 100%
    background: rgba(255, 255, 255, 0.8)
    padding-top: 222px
  p
    font-size: 40px
    text-transform: uppercase
    font-family: bebasneuebook,sans-serif
    font-weight: 700
    color: #5d5d5d
    span
      font-family: bebasneue,sans-serif
      font-weight: 100

section.home
  h3
    text-align: center
    font-family: pacifico-regular,sans-serif
    font-size: 30px
    font-weight: 100
    position: relative
    margin-bottom: 55px;
    &:after
      content: ''
      background: #ededed
      display: block
      position: absolute
      top: 35%
      height: 1px
      width: 100%
      z-index: 1
    a
      background: #fff
      color: #f96900
      position: relative
      padding: 0 40px
      z-index: 2
      &:after, &:before
        content: '\2022'
        font-size: 20px
        display: inline-block
        position: absolute
      &:after
        left: 15px
      &:before
        right: 15px
      &:hover
        text-decoration: none
  p
    text-align: center
    color: #4c4c4c
    font-size: 12px
    font-family: 'Open Sans',sans-serif
    margin-bottom: 45px
  .mediaContent
    display: none

#wrapper-categorias
  padding: 0

section
  &#destacados
    margin: 30px 0
    .mediaContainer
      padding: 0
      border: 1px solid #fff
      background: #000
      position: relative
      img
        width: 100%
        height: 275px
        object-fit: cover
      a:hover img
        opacity: .8
      &:before
        content: ''
        width: 15px
        height: 15px
        background-image: url(../img/lupa-home.png)
        position: absolute
        bottom: 5px
        right: 5px
  &#categorias
    span
      &:after, &:before
        content: '\2022'
        font-size: 20px
        position: absolute
        display: inline-block
      background: #fff
      color: #f96900
      position: relative
      padding: 0 40px
      z-index: 2
      &:after
        left: 15px
      &:before
        right: 15px
    #galleryListContainer figure.galleryContainer
      img
        margin: 0 auto
      figcaption
        margin-top: 20px
        text-align: center
        a
          font-family: bebasneue,sans-serif
          font-size: 18px
          color: #909090
  &#nuevos
    margin: 30px 0
    .mediaContainer
      padding: 0
      border: 1px solid #fff
      background: #000
      position: relative
      img
        width: 100%
        height: 275px
        object-fit: cover
      &:before
        content: ''
        width: 15px
        height: 15px
        background-image: url(../img/lupa-home.png)
        position: absolute
        bottom: 5px
        right: 5px

.media-details-dnmk .previewContainer img
  width: 100%

#page-content
    h1
        color: #f96900
        text-transform: uppercase
        font-family: bebasneue,sans-serif
        font-size: 32px
    div
        font-family: 'Open Sans',sans-serif
        font-size: 13px
        color: #4c4c4c
    div.planes-precios
        margin: 5px 0px
        a
          text-decoration: none
        div
            height: 180px
            border: solid 1px #b2b2b2
            text-align: center
            padding: 45px 0
            h2
                font-size: 16px
                font-family: 'Open Sans',sans-serif
                color: #f96900
                font-weight: bold
                margin-bottom: 12px
            span
                font-family: 'Open Sans',sans-serif
                &.detalles
                    font-size: 13px
                    margin-bottom: 25px
                    display: block
                &.precio
                    font-size: 30px
                    font-weight: bold
                    color: #f96900
                    display: block
                    &:before
                        content: '$'
            &:hover
                border: none
                background-color: #f96900
                h2
                    color: #fff
                span
                    color: #fff
                

#mediaPurchaseTabsContainer
  border-bottom: 1px solid #69d2e7
  li.mediaPurchaseTabsSelected
    background: #69d2e7
    color: #fff
    border-top-left-radius: 4px
    border-top-right-radius: 4px

.mediaPurchaseContainers
  background: #fff
  h2 a
    color: #f96900
    font-size: 16px
  p
    color: #4c4c4c
    font-size: 13px
  .purchaseListPrice span
    color: #f96900
    font-size: 16px
  .btn
    padding: 11px 37px
    background: #f96900
    border: none
    font-size: 12px
    font-weight: 700
    position: relative
    &:before
      content: ''
      height: 11px
      width: 10px
      background: url(../img/arrow.png)
      display: inline-block
      margin-right: 14px

#wrapper-filtros-busqueda
  margin-top: 25px
  h2
    color: #f96900
    text-transform: uppercase
    font-family: bebasneue,sans-serif
    font-size: 20px
    font-weight: 700
  .currentSearchBox > ul, .searchOptionsColumn h2
    font-family: 'Open Sans',sans-serif
  .currentSearchBox, .searchOptionsColumn
    border: none
    padding: 20px 0
  .currentSearchBox
    border-bottom: 1px solid #f3f3f3
    > ul > li
      margin: 0 0 15px
      font-size: 13px
      .searchCloseButton
        margin-right: 35%
      span
        color: #f96900
      ul
        display: inline-block
        li
          margin: 0
          span
            color: #f96900
      &:last-child
        text-align: left
        margin-top: 30px
        a
          background: #f96901
          padding: 10px 20px
          color: #fff
          border-radius: 5px
          text-transform: uppercase
          font-weight: 700
  .searchOptionsColumn
    border: none
    h2
      font-size: 13px
      font-weight: 700
      text-transform: none
      border: none
      margin: 20px 0 10px
    .searchMatchTerms
      float: left
      display: block
      width: 100%
      label
        font-size: 13px
        font-family: 'Open Sans',sans-serif
        color: #4c4c4c
        margin-left: 5px
    input[type=button]
      width: 100%
      background: #69d2e7
      border: none
      padding: 12px

#paginador
  position: relative
  .back-ico, .next-ico
    position: absolute
    top: 3px
    font-size: 0.01em
    background: url(/assets/themes/dynamik/img/back-ico.png)
    width: 12px
    height: 19px
    display: inline-block
  .next-ico
    background: url(/assets/themes/dynamik/img/next-ico.png)
    right: -33px
  .back-ico:after
    content: ''
    display: block
    width: 1px
    background: #E7E7DE
    height: 25px
    position: absolute
    right: -5px
    top: -3px
  .pagingPageNumber
    border: none
    color: #000
    font-weight: 700
    font-family: 'Open Sans',sans-serif

#searchSortBy
  border: none
  color: #f96900
  font-family: 'Open Sans',sans-serif
  font-style: italic

section#results-search-wrappe ul.mediaContent li.mediaContainerIcons
      margin-left: -5px;

section#results-search-wrappe
  ul.mediaContent
    li, span
      font-family: 'Open Sans',sans-serif !important

body
  font-family: 'Open Sans',sans-serif !important

#mediaListContainer
  margin-top: 100px
  .mediaContainer
    margin-bottom: 0 !important
    .mediaThumbContainer
      img
        width: 100%
section
  &#results-search-wrapper, &#wrapper-gallery, &#wrapper-gallery-popular
    padding: 0
  &#results-search-wrapper h1, &#wrapper-gallery h1, &#wrapper-gallery-popular h1
    color: #f96900
    text-transform: uppercase
    font-family: bebasneue,sans-serif
  &#results-search-wrapper .mediaContainer, &#wrapper-gallery .mediaContainer, &#wrapper-gallery-popular .mediaContainer
    margin-bottom: 30px
  &#results-search-wrapper .mediaContainer .mediaThumbContainer, &#wrapper-gallery .mediaContainer .mediaThumbContainer, &#wrapper-gallery-popular .mediaContainer .mediaThumbContainer
    min-height: 0
    overflow: hidden
  &#results-search-wrapper .mediaContainer .mediaThumbContainer .mediaContent ul, &#wrapper-gallery .mediaContainer .mediaThumbContainer .mediaContent ul, &#wrapper-gallery-popular .mediaContainer .mediaThumbContainer .mediaContent ul
    margin-bottom: 20px
  &#results-search-wrapper .mediaContainer .mediaThumbContainer .mediaContent ul li, &#wrapper-gallery .mediaContainer .mediaThumbContainer .mediaContent ul li, &#wrapper-gallery-popular .mediaContainer .mediaThumbContainer .mediaContent ul li
    font-family: 'Open Sans',sans-serif
    font-size: 13px
  &#results-search-wrapper .mediaContainer .mediaThumbContainer .mediaContent ul li span, &#wrapper-gallery .mediaContainer .mediaThumbContainer .mediaContent ul li span, &#wrapper-gallery-popular .mediaContainer .mediaThumbContainer .mediaContent ul li span
    font-weight: 700
  &#wrapper-gallery h1 a
    text-transform: uppercase
    font-family: bebasneue,sans-serif
    color: #fc6900
  &#contact-us-wrapper .title-container, &#login-wrapper .title-container, &#new-accont-wrapper .title-container
    position: relative
  &#contact-us-wrapper .title-container h1, &#login-wrapper .title-container h1, &#new-accont-wrapper .title-container h1
    color: #f96900
    text-transform: uppercase
    font-family: bebasneue,sans-serif
    font-size: 32px
    background: #FFF
    display: inline-block
    z-index: 2
    position: relative
    padding-right: 20px
  &#contact-us-wrapper .title-container:before, &#login-wrapper .title-container:before, &#new-accont-wrapper .title-container:before
    content: ''
    width: 100%
    height: 1px
    display: block
    background: #cdcdcd
    position: absolute
    left: 0
    top: 60%
    z-index: 1
    padding-right: 20px
  &#contact-us-wrapper h2, &#login-wrapper h2, &#new-accont-wrapper h2
    font-family: 'Open Sans',sans-serif
    font-size: 16px
    color: #4c4c4c
    font-weight: 700
    text-align: center
    text-transform: none
  &#contact-us-wrapper p, &#login-wrapper p, &#new-accont-wrapper p
    font-family: 'Open Sans',sans-serif
    font-size: 13px
    color: #4c4c4c
    text-align: justify
  &#cart-wrapper .cartThumbColumn, &#login-wrapper .new-account
    text-align: center
  &#contact-us-wrapper form .divTable, &#login-wrapper form .divTable, &#new-accont-wrapper form .divTable
    margin: 0 auto
  &#contact-us-wrapper form .divTable #submit-contact input, &#login-wrapper form .divTable #submit-contact input, &#new-accont-wrapper form .divTable #submit-contact input
    margin: 0 auto
    display: block
    padding: 11px 60px
    background: #f96900
    border: none
    font-weight: 700
  &#contact-us-wrapper form
    input, textarea
      font-style: italic
      font-size: 13px
  &#login-wrapper form
    input, textarea
      font-style: italic
      font-size: 13px
  &#new-accont-wrapper form
    input, textarea
      font-style: italic
      font-size: 13px
  &#cart-wrapper
    .title-container
      position: relative
      h1
        color: #f96900
        text-transform: uppercase
        font-family: bebasneue,sans-serif
        font-size: 32px
        background: #FFF
        display: inline-block
        z-index: 2
        position: relative
        padding-right: 20px
      &:before
        content: ''
        width: 100%
        height: 1px
        display: block
        background: #cdcdcd
        position: absolute
        left: 0
        top: 60%
        z-index: 1
        padding-right: 20px
    .cartContainer
      .row
        border-bottom: 1px solid #cdcdcd
        background: #fff !important
      .item h2
        font-family: 'Open Sans',sans-serif
        color: #f96900
        font-size: 16px
        a
          font-family: 'Open Sans',sans-serif
          color: #f96900
          font-size: 16px
      .cartActionsColumn .cartItemRemoveLink
        width: 15px
        height: 15px
        border: none
        font-size: .2pt
        background: url(../img/remove.png)
    .updateQuantitiesButton
      background: url(../img/actualizar.png) no-repeat #69d2e6
      padding: 8px 25px 8px 40px
      border: none
      width: auto !important
      margin-bottom: 15px
      background-position-y: 8px
      background-position-x: 12px
    .cartTotalColumn input[type=button]
      margin: 0 auto
      display: block
      padding: 10px 50px
      background: #f96900
      border: none
      font-weight: 700

#workbox
  background: #fff
  .purchaseListDescription
    background: #fff

section#cart-wrapper
  .cartTotalColumn
    input, textarea
      font-style: italic
      font-size: 13px
      margin-bottom: 15px
  .promotionsBox
    border: none
    margin: 8px 0
    padding: 0
    width: 100%

#workbox
  border: none
  h1
    color: #f96900
    text-transform: uppercase
    font-family: bebasneue,sans-serif
    font-size: 25px

#info-wrapper 
    text-align: right
    p
        font-family: 'Open Sans',sans-serif
        strong
            font-family: 'Open Sans',sans-serif
    span
        display: inline-block
        height: 27px
        width: 27px
        &.face-icon
            background-image: url(../img/face-icon.png)
        &.twit-icon
            background-image: url(../img/twit-icon.png)
        &.insta-icon
            background-image: url(../img/insta-icon.png)
        &:hover
            &.face-icon
                background-image: url(../img/face-icon-h.png)
            &.twit-icon
                background-image: url(../img/twit-icon-h.png)
            &.insta-icon
                background-image: url(../img/insta-icon-h.png)
.white-screen
    #social-net
        position: absolute;
        bottom: 5%;
        right: 12%;
        span
            display: inline-block
            height: 27px
            width: 27px
            &.face-icon
                background-image: url(../img/face-icon.png)
            &.twit-icon
                background-image: url(../img/twit-icon.png)
            &.insta-icon
                background-image: url(../img/insta-icon.png)
            &:hover
                &.face-icon
                    background-image: url(../img/face-icon-h.png)
                &.twit-icon
                    background-image: url(../img/twit-icon-h.png)
                &.insta-icon
                    background-image: url(../img/insta-icon-h.png)

section#new-accont-wrapper h2.affiliation-title
  font-family: 'Open Sans',sans-serif

#workbox input[type=button]
  margin: 0 auto
  display: block
  padding: 10px 50px
  background: #f96900
  border: none
  font-weight: 700

section
  &#login-wrapper
    .divTable
      margin: 0
      width: 100%
    .new-account a
      font-size: 13px
      padding: 11px 60px
      background: #f96900
      border: none
      font-weight: 700
      margin-top: 20px
      display: inline-block
  &#new-accont-wrapper
    #createAccountForm
      .divTable
        width: 100%
      .divTableCell
        text-align: left
    #submit input
      margin: 0 auto
      display: block
      padding: 11px 60px
      background: #f96900
      border: none
      font-weight: 700
    h2.affiliation-title
      text-align: left
      font-size: 16px
      color: #f96900
      margin-bottom: 30px
    ul.membershipList li
      box-shadow: none
      border: 1px solid #cbcbcb
      a
        margin: 0 auto
        display: block
        padding: 5px 10px
        background: #f96900
        border: none
        font-weight: 700
        color: #fff
        font-size: 12px
        border-radius: 4px

#info-wrapper p
  font-size: 13px
  color: #4c4c4c
  strong
    color: #f88a3b
    font-weight: 700

footer
  margin-top: 20px
  section
    &.top
      background: #69d2e7
      .wrapper-logo-footer
        position: relative
        margin-top: 44px
        img
          background: #69d2e7
          position: relative
          display: block
          margin: 0 auto
          z-index: 1
          padding: 0 63px
        .line
          background: #fff
          display: block
          height: 1px
          width: 100%
          position: absolute
          top: 50%
          left: 0
      .wrapper-menu
        text-align: center
        ul li
          font-size: 18px
          font-family: bebasneue,sans-serif
          color: #fff
          text-transform: uppercase
          &:before, &:last-child:after
            content: '\2022'
            font-size: 15px
            display: inline-block
          a
            padding: 55px 25px
            display: inline-block
            color: #fff
    &.bottom
      background: #28bad7
      color: #fff
      font-size: 12px
      .wrapper
        padding: 12px 0
        text-align: center
        #site-date
          font-family: proxima_nova_rgregular,sans-serif
          span
            font-family: proxima_novaextrabold,sans-serif
        #dynamik
          span
            font-family: proxima_nova_rgregular,sans-serif
          img
            margin: 7px 0 0

@media only screen and (max-width: 768px)
  footer section.top .wrapper-menu
    text-align: center
    ul li
      width: 100%

@media only screen and (max-width: 1200px)
    #header-home
        .navbar-piksel
            #navbar
            ul#main-menu
                li
                    a
                        padding: 55px 10px
@media only screen and (max-width: 990px)
    #header-home
        .navbar-piksel
            #navbar
            ul#main-menu
                li
                    a
                        padding: 55px 5px
                        font-size: 16px